<div class="container-img">
    <img [src]="this.link+'assets/img/filtroFull.png'" class="filtroFull" alt="">


        <mat-card class="containerform">
            <div id="portada-sesion">
                <img [src]="this.link+'assets/img/logo_gigante.png'" id="img" alt="">
                <div  id="titulo-log">
                    <img  [src]="this.link+'assets/img/MicrosoftTeams-image.png'" alt="" srcset="">
                    <div id="titulo-letra">
                        <span class="r1">PORTAL DE<br> COMUNICACIÓN</span>
                    </div>
                </div>
           </div>
            <form [formGroup]="formSesion" >
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label >Ingresa tu usuario</mat-label>
                        <input class = "matInput" matInput formControlName= "usuario" placeholder="usuario" required>
                    </mat-form-field>
                </div>
                <div >
                    <mat-form-field appearance="outline">
                        <mat-label>Ingresa tu contraseña</mat-label>
                        <input class = "matInput" formControlName= "contrasena" matInput [type]="hide ? 'password' : 'text'" required >
                        <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-botones">

                <div class="el el2">
                    <button id="btn-iniciar" type="submit" mat-raised-button  (click)="form()" color="primary">Iniciar sesion</button>
                </div>
                </div>
            </form>
        </mat-card>
</div>
