<div class="example-box"  cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
<h4 mat-dialog-title>Modificando slider</h4>
<form [formGroup]="formImgVideo" >
<mat-dialog-content>
    <mat-form-field appearance="outline" >
        <mat-label>Fecha inicial de la noticia</mat-label>
        <input autocomplete="off" formControlName="fechaInicial" (dateChange)="fecha1($event.value)" [max]="rango2" matInput [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha final de la noticia</mat-label>
        <input autocomplete="off" formControlName="fechaFinal" (dateChange)="fecha2($event.value)" [min]="rango==undefined?date:rango"  matInput [matDatepicker]="picker2">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Seleccione la seccion</mat-label>
        <mat-select formControlName="cveLocal">
          <mat-option [value]="i.idLocal" *ngFor="let i of localInterfaz"  [disabled]="i.cantidad==5"> {{i.local}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-ripple-form-field" appearance="outline">
        <mat-label>Ingrese link del slider</mat-label>
        <input autocomplete="off"  matInput formControlName="link" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Elige la posición del slider</mat-label>
        <input  id="campo-numerico" min="1" pattern="^[0-9]+" matInput type="number" formControlName="posicion" placeholder="Escribe una posicion; 1,2,3,4,5.... etc.">
        <!-- <mat-select formControlName="posicion" >
          <mat-option [value]="1"> 1 </mat-option>
          <mat-option [value]="2"> 2 </mat-option>
          <mat-option [value]="3"> 3 </mat-option>
          <mat-option [value]="4"> 4 </mat-option>
          <mat-option [value]="5"> 5 </mat-option>
        </mat-select> -->
      </mat-form-field>
      <input  autocomplete="off" mat-input  type="file" name="subir-imagen" id="subir-imagen" (change)="subirImg($event)" class="ing-txt"><br><br>
    </mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="enviandoDatos()">Editar</button>
</mat-dialog-actions>
</form>
</div>
