mat-form-field {
  width: 100%;
}

mat-option, button{
  font-family: 'gotham-bold';
}


mat-form-field, input {
  font-family: 'gotham-book';

}

::ng-deep span.mat-select-min-line {
  font-family: 'gotham-book';
}

img{
  border-radius: 30px;
  width: 250px;
}
