<div class="container-perso">
  <form [formGroup]="formAraizaAprende"  enctype="multipart/form-data">

    <h4>Creación del tutorial</h4>
    <h5>Datos principales</h5>
    <div  class="select-catema" >
      <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoria" >
          <mat-option *ngFor="let i of categorias;"  [value]="i.idCatArApr"> {{i.categoria}} </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="btn-add-rest">
        <img  rel="preload" src="../../../../assets/img/icon/add-araiza-aprende.svg" (click)="add(1)" alt="add">
      <img  rel="preload" src="../../../../assets/img/icon/rest-araiza-aprende.svg" (click)="rest(11)" alt="rest">
      </div>
    </div>

    <div class="select-catema"  >
      <mat-form-field appearance="outline">
        <mat-label>Tema</mat-label>
        <mat-select formControlName="tema">
          <mat-option *ngFor="let i of temas;"  [value]="i.idTemaArApr"> {{i.tema}} </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="btn-add-rest">
      <img  rel="preload" src="../../../../assets/img/icon/add-araiza-aprende.svg" (click)="add(2)" alt="add">
    <img  rel="preload" src="../../../../assets/img/icon/rest-araiza-aprende.svg" (click)="rest(22)" alt="rest">
    </div>
    </div>

    <div class="otro-input">
      <mat-form-field class="example-ripple-form-field" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input autocomplete="off"  matInput formControlName="nombre" >
      </mat-form-field>
    </div>


      <input autocomplete="off" mat-input name="info[]" type="file" name="subir-imagen" id="subir-imagen" (change)="subirImg($event)" class="ing-txt" ><br><br>

      <div class="otro-input">
        <mat-form-field class="example-ripple-form-field" appearance="outline">
          <mat-label>Ingrese link del slider</mat-label>
          <input autocomplete="off" matInput formControlName="link" #message>
        </mat-form-field>
      </div>
      <div class="otro-input">
        <mat-form-field class="example-ripple-form-field" appearance="outline">
          <mat-label>Contraseña para acceder</mat-label>
          <input type="password" autocomplete="off"  matInput formControlName="contrasena" >
        </mat-form-field>
      </div>
      <br>

      <ng-container *ngIf="message.value.length == 0 ">
        <h5>Datos de la página</h5>
        <div class="otro-input">
          <mat-form-field class="example-ripple-form-field" appearance="outline">
            <mat-label>Título</mat-label>
            <input autocomplete="off" matInput formControlName="titulo" >
          </mat-form-field>
        </div>
        <br>
        <div class="otro-input">
          <mat-form-field class="example-ripple-form-field" appearance="outline">
            <mat-label>Descripción del curso</mat-label>
            <textarea autocomplete="off" matInput formControlName="descripcion" ></textarea>
          </mat-form-field>
        </div>
        <br>
        <div class="otro-input">
          <mat-form-field class="example-ripple-form-field" appearance="outline">
            <mat-label>Link del video embed</mat-label>
            <input autocomplete="off" matInput formControlName="linkVideo" >
          </mat-form-field>
        </div>
        <br>
        <div class="otro-input">
          <mat-form-field class="example-ripple-form-field" appearance="outline">
            <mat-label>Link del formulario</mat-label>
            <input autocomplete="off" matInput formControlName="linkForm" >
          </mat-form-field>
        </div>
      </ng-container>


      <br>

        <button type="submit" mat-raised-button id="submit" color="primary"   (click)="enviandoDatos()" #miBoton>Enviar</button>

    </form>
</div>
