<div class="container-perso">
  <form [formGroup]="formImgVideo"  enctype="multipart/form-data">

    <h4>{{titulo}}</h4>
      <span *ngIf="cveSeccion==1">Medida de imagen: 2550px × 800px, limite: 2MB</span>
      <mat-form-field appearance="outline" >
        <mat-label>Fecha inicial de la noticia</mat-label>
        <input  autocomplete="off" formControlName="fechaInicial" (dateChange)="fecha1($event.value)" [min]="date" [max]="rango2" matInput [matDatepicker]="picker" (ngModelChange)="activarBut()">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      <br><br>
      <mat-form-field appearance="outline">
        <mat-label>Fecha final de la noticia</mat-label>
        <input  autocomplete="off" formControlName="fechaFinal" (dateChange)="fecha2($event.value)" [min]="rango==undefined?date:rango"  matInput [matDatepicker]="picker2" (ngModelChange)="activarBut()">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br><br>
      <mat-form-field appearance="outline">
        <mat-label>Seleccione la seccion</mat-label>
        <mat-select formControlName="cveLocal" (selectionChange)="rellenarTarget($event)" (ngModelChange)="activarBut()">
          <mat-option [value]="i.idLocal.toString()"  *ngFor="let i of localInterfaz" >
              {{i.local}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-ripple-form-field" appearance="outline">
        <mat-label>Ingrese link del slider</mat-label>
        <input autocomplete="off" matInput formControlName="link" (ngModelChange)="activarBut()">
      </mat-form-field><br>
      <input autocomplete="off" mat-input name="info[]" formControlName="input"  type="file" name="subir-imagen" id="subir-imagen" (change)="subirImg($event)" class="ing-txt" ><br><br>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Elige la posición del slider</mat-label>
        <input  id="campo-numerico" min="1" pattern="^[0-9]+" matInput type="number"
        formControlName="posicion"
        [value]="proxima_posicion"
        placeholder="Escribe una posicion; 1,2,3,4,5.... etc."
        (ngModelChange)="activarBut()">
        <mat-hint align="start" ><strong>Se elige la nueva posicion del nuevo slider (default)</strong> </mat-hint>
        <!--
        <mat-select formControlName="posicion" >
          <mat-option [value]="1"> 1 </mat-option>
          <mat-option [value]="2"> 2 </mat-option>
          <mat-option [value]="3"> 3 </mat-option>
          <mat-option [value]="4"> 4 </mat-option>
          <mat-option [value]="5"> 5 </mat-option>
        </mat-select>
        -->
      </mat-form-field>
      <br><br>
      <!-- [disabled]="activarBut()" -->
        <button type="submit" mat-raised-button id="submit" color="primary"   (click)="enviandoDatos()" #miBoton>Enviar</button>
    </form>
</div>
