@font-face {
    font-family: 'gotham-book';
    src: url('../../../assets/fonts/Gotham-Font/Gotham-Font/Gotham-Book.otf');
  }

  @font-face {
    font-family: 'gotham-bold';
    src: url('../../../assets/fonts/Gotham-Font/Gotham-Font/Gotham-Bold.otf');
  }

@font-face {
    font-family: 'roboto-black';
    src: url(../../../assets/fonts/Roboto/Roboto-Black.ttf);
    font-weight: normal;
    font-style: normal;
}


/**Definiendo formulario*/
.containerform  {
    position: absolute;
    top: 15%;
    margin-left: 5%;
}

.inst {
    font-family: 'gotham-book';
    margin-bottom: 10px;
}

.inst a {
    color: #c56b25;
}

form {
    padding-right: 10px;
    }

.form-botones .el {
    margin-bottom: 10px;
    font-family: 'gotham-bold';
    color: #c56b25;
}

.form-botones .el:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form-botones .el2 {
    float: right;
    font-family: 'roboto-black';
}

.grupo2 {
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.login{
    text-align: left;
}

/*
.mat-form-field-underline {
    background-color: rgb(241, 0, 0) !important;;
}
.mat-form-field-ripple {
    background-color: transparent !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #e91e63 !important;
}
*/

.mat-icon {
    opacity: 0.5;

}
/** Modificando los colores detallistas de angular */
.mat-form-field-ripple {
    background-color: transparent !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white;
}
.mat-icon-button {
    opacity: 0.5;

}

#subrayado {
    padding-left: 0;
    margin-bottom: 15%;
}

.linea {
  width: 100%;
  padding-left: 0;
  margin-bottom: 15%;
  height: 5px;
  background: linear-gradient(90deg, rgba(220,157,80,1) 0%, rgba(2,0,36,1) 100%);
  position: absolute;
  right: 100%;
  left: -40%;
}

#h1 {
    font-size: 40px;
    line-height: normal;
    font-family: 'gotham-bold';
}


/*Titulo login*/


.container-img{
    width: 40%;
    justify-content: center;
    height: 100%;
    align-self: center;
}


#titulo-log{
    position: absolute;
    top: 80%;
    right: 0;
    left: 0;
    bottom: 0;
}

#titulo-letra {
    position: absolute;
    text-align: start;
    margin-top: 1%;
    padding-left: 15%;
    line-height: 1.6vw;
}

#portada-sesion {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    background-image: url(../../../assets/img/MaskGroup.png);
    margin-left: 50%;
}

#filtro2{
    height: 100%;
    width: 100%;
}

.container-img #titulo-log img{
    position: absolute;
    width: 100%;
}

.r1 {
    font-family: 'gotham-bold';
    font-size: 3.5vw;
}

.r2 {
    font-family: 'gotham-book';
    color: #DC994D;
    font-size: 1.65vw;
    font-weight: 500;
}

img#img {
    width: 15%;
    top: 31%;
    display: flex;
    position: absolute;
    z-index: 1;
    right: 70%;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-infix {
    display: block;
    flex: auto;
    min-width: 0;
    width: 80% !important;
}

#logo {
    margin-bottom: 35px;
    position: absolute;
    bottom: 100%;
}

@media (max-width: 1500px) {
    .container-img  #titulo-log{
        line-height: 100% ;
    }

}

@media(max-height:630px){
  #portada-sesion {
    visibility: hidden !important;
    display: none !important;
    opacity: 0 !important;
  }
}

@media(max-width: 1230px){

    #portada-sesion {
      visibility: hidden !important;
      display: none !important;
      opacity: 0 !important;
    }

    #subrayado {
        color: black;
        margin-bottom: 60px;
    }

    .containerform {
        font-size: 12px;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }

    .linea {
      width: 391px;
      padding-left: 0;
      margin-bottom: 15%;
      height: 5px;
      background: linear-gradient(90deg, rgba(220,157,80,1) 0%, rgba(2,0,36,1) 100%);
      position: absolute;
      right: 100%;
      left: -20%;
       top: 90px;
      bottom: 0;
      left: -105px;
      right: 0;

  }
    #h1{
        color: black;
    }
}

@media (max-width: 1002px) {
    .containerform {
        font-size: 12px;
    }
    .containerform h1{
        font-size: 16px;
    }
    button {
        font-size: 12px;
    }

    .matInput {
        font-size: 12px;

    }

}

@media (max-width: 850px) {
    .col figure img {
        max-width: 50%;
    }
    .col{
        text-align: center !important;
    }
    .titulo h1 {
        font-size: 1rem;
    }
    .containerfixed {
        font-size: 10px;
    }

}

@media(max-width:347px){
    .linea {
        width: 306px;
        top: 70px;
    }

    #h1 {
        font-size: 30px;
    }
}


@media(max-width:700px){
    .form-botones {
      display: grid;
    }
    button {
      width: 100%;
    }
}

@media(max-height:660px){
  .containerform{
    top: 45%;
  }
}

@media(max-height:500px){
  .containerform{
    top: 40%;
  }

  #logo {
    margin-bottom: auto;
    bottom: 100%;
}
}
