<div id="container-historial">
  <h2>NOTICIAS</h2>

  <div id="primer-nivel">
    <mat-form-field appearance="outline">
      <mat-label>Mes</mat-label>
      <mat-select>
        <mat-option value="1">Enero</mat-option>
        <mat-option value="2">Febrero</mat-option>
        <mat-option value="3">Marzo</mat-option>
        <mat-option value="4">Abril</mat-option>
        <mat-option value="5">Mayo</mat-option>
        <mat-option value="6">Junio</mat-option>
        <mat-option value="7">Julio</mat-option>
        <mat-option value="8">Agosto</mat-option>
        <mat-option value="9">Septiembre</mat-option>
        <mat-option value="10">Octubre</mat-option>
        <mat-option value="11">Noviembre</mat-option>
        <mat-option value="12">Diciembre</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div id="opciones-not">
    <div class="tab t1"  (click)="routerLink()" alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" >TODOS</div>

  </div>
  <hr>
  <div id="tercer-nivel">
  <ng-container *ngIf="noticias.length > 0; else elseTemplate">

    <div class="lista-noticias" *ngFor="let i of noticias | paginate: { itemsPerPage: 10, currentPage: p } ; let x=index ">
      <div id="opciones-not">
        <div class="tab t1"  alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink()">TODOS</div>
      </div>
      <div class="noticia">
        <mat-card-header>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <div class="container-matCard">
        <div class="img-card">
          <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
            <img
            [src]=" recursoUrl( noticias.length == 0?  i.imgVideo : i.imgVideo,1,1,false)"
            class="d-block w-100"
            loading="lazy" />
          </ng-container>
          <ng-template  #elseTemplate>
              <video height="100%" width="100%" loop  controls  >
                <source [src]="recursoUrl(i.imgVideo,2,1,false)">
              </video>
          </ng-template>
        </div>
        <mat-card-content>
          <span class="fecha">{{dateNormal(i.fechaInicial)}}</span>
          <h3>{{i.titulo}}</h3>
            <div class="texto">
              {{cortarTexto(i.descripcion!.toString(), cortar[x], x)}}
              <br>
              <br>
              <span [hidden]="cortar[x]" *ngIf="i.descripcion!.toString().length > 80"  (click)="cortarTexto(i.descripcion!.toString(),true,x)" class="leerMas">Leer mas... </span>
              <span [hidden]="!cortar[x]" (click)="cortarTexto(i.descripcion!.toString(),false,x)" class="leerMas">Leer menos... </span>
            </div>
        </mat-card-content>
        </div>
      </div>
  </div>
  <pagination-controls class="my-pagination"
  nextLabel=" > "
  previousLabel=" < "
  (pageChange)="p = $event"></pagination-controls>
  </ng-container>
  <ng-template #elseTemplate>

      <div class="mensaje-nohay">
        No hay noticias viejas
      </div>

  </ng-template>
  </div>
</div>
