mat-form-field {
  margin-left: 20px;
}


button {
  margin-left: 20px;
}

.container-cuestionario {
  align-self: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
}

.seccion-botones{
  display: flex;
  justify-content: space-between;
}