<div class="example-box"  cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
<h4 mat-dialog-title>Actualizando Autocapacitación</h4>
<form [formGroup]="formAutoCapac">
  <mat-dialog-content>
  <div>
  <mat-form-field appearance="outline">
    <mat-label>Seleccione la autocapacitación</mat-label>
    <mat-select formControlName="idCapacitacion">
      <mat-option [value]="i.idCapacitacion" *ngFor="let i of capacitacionInterfaz" (onSelectionChange)="clickSelect(i)" > {{i.nombre}} </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Autocapacitación</mat-label>
      <input autocomplete="off" matInput formControlName="nombre" type="text" class="ing-txt">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Link</mat-label>
      <input autocomplete="off" matInput formControlName="link" type="text" class="ing-txt">
    </mat-form-field>
  </div>
  <div>
    <input autocomplete="off" mat-input  type="file" name="subir-imagen" id="subir-imagen" #subirImagen (change)="subirImg($event)" class="ing-txt"><br><br>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="enviandoDatos()">Actualizar</button>
</mat-dialog-actions>
</form>
</div>
