  <div class="container-user">
    <h2>USUARIOS</h2>
    <div id="cabeceraRows">
      <div class="cabecera">
        <form  class="cabecera" [formGroup]="formBuscar">
        <div class="search">
          <mat-form-field class="example-ripple-form-field" >
            <mat-label>Buscar usuario</mat-label>
            <input autocomplete="off" matInput formControlName="buscador" >
          </mat-form-field>
          <div class="btn-buscar" (click)="buscador()">
            <button class="btnResponsive" id="btn-trans">
            <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
        </form>
        <div id="matform-c">
        <form class="cabecera" [formGroup]="formBuscar">
        <mat-form-field appearance="outline">
          <mat-label>Seleccione la fecha inicial</mat-label>
          <input matInput formControlName="fechaInicial" [matDatepicker]="picker">
          <mat-hint>{{dateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione la fecha final</mat-label>
          <input matInput formControlName="fechaFinal" [matDatepicker]="picker2">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Seleccione la seccion</mat-label>
          <mat-select formControlName="seccion">
            <mat-option *ngFor="let i of locales"  [value]="i.idLocal"> {{i.local}} </mat-option>
            <mat-option value="-1">Ninguno</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Visitantes</mat-label>
          <mat-select formControlName="tipoVisita" >
            <mat-option [value]="0"> Sin visitas </mat-option>
            <mat-option [value]="1"> Con visitas </mat-option>
            <mat-option [value]="2"> Todo </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="botonc">
          <button  mat-raised-button class="btnResponsive" color="primary" (click)="buscador()">
            Aplicar
          </button>
        </div>
        <div class="botonc">
          <button  mat-raised-button class="btnResponsive" color="primary" (click)="clear()">
            Clear
          </button>
        </div>

        </form>
        </div>
      </div>

      <div id="cabecera2">
        <div class="botonc">
          <button  mat-raised-button color="primary" (click)="agregar()">
            Agregar usuario
          </button>
        </div>
        <div class="botonc">
          <button  mat-raised-button color="primary" (click)="exportar()">
            Exportar a Excel
          </button>
        </div>
        <div class="botonc">
          <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu" >
           Departamento
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="agregarDepartamento()" mat-menu-item>
              <mat-icon>add</mat-icon>
              <span>Agregar</span>
            </button>
            <button (click)="eliminarDepartamento()" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
            <button (click)="modificarDepartamento()" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Modificar</span>
            </button>
          </mat-menu>
        </div>

      </div>
    </div>


    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" [attr.title]="element.usuario.toString().length > 6 ? element.usuario.toString() : null" >
          {{ element.usuario.toString().length > 6 ? element.usuario.toString().slice(0, 6) + '...' : element.usuario.toString() }} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno+" "+element.apellidoMaterno+", "+element.nombres}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container><!-- Symbol Column -->
      <!-- Weight Column -->
      <ng-container matColumnDef="hotel">
        <th mat-header-cell *matHeaderCellDef> Hotel </th>
        <td mat-cell *matCellDef="let element"> {{element.local}} </td>
      </ng-container>
      <ng-container matColumnDef="visita" >
        <th mat-header-cell *matHeaderCellDef> Visita </th>
        <td mat-cell *matCellDef="let element" class="visita"> {{element.fecha}} </td>
      </ng-container>
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" class="btnIndividual" (click)="editar(element)">
          Editar
        </button>
        <button mat-raised-button color="primary" class="btnIndividual" (click)="borrar(element.idUsuario,element.img)">
          Borrar
        </button>
      </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
    <div class="existe" [hidden]="hayElementos()"> No hay usuarios registrados...</div>
    <mat-paginator [pageSize]="10"
                  aria-label="Select page of users">
    </mat-paginator>
  </div>
