.example-box {
  padding: 15px;
  display: block;
}

mat-form-field {
  width: 100%;
}

span{
  color: black;
  font-family: 'gotham-bold';
  font-size: 12px;
}

button {
  font-family: 'gotham-bold';
}
