<div class="container-perso">
  <form [formGroup]="formImgVideo"  enctype="multipart/form-data">

    <h1>{{titulo}}</h1>
      <span *ngIf="cveSeccion==1">Medida de imagen: 2550px × 800px</span>
      <mat-form-field appearance="outline" >
        <mat-label>Fecha inicial de la noticia</mat-label>
        <input  formControlName="fechaInicial" (dateChange)="fecha1($event.value)" [min]="date" [max]="rango2" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      <br><br>
      <mat-form-field appearance="outline">
        <mat-label>Fecha final de la noticia</mat-label>
        <input  formControlName="fechaFinal" (dateChange)="fecha2($event.value)" [min]="rango==undefined?date:rango"  matInput [matDatepicker]="picker2">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br><br>
      <mat-form-field appearance="outline">
        <mat-label>Seleccione la seccion</mat-label>
        <mat-select formControlName="cveLocal" (selectionChange)="rellenarTarget()">
          <mat-option [value]="i.idLocal"  *ngFor="let i of localInterfaz" [disabled]="i.cantidad==4 && this.cveSeccion==1">
              {{i.local}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <input mat-input name="info[]" formControlName="input"  type="file" name="subir-imagen" id="subir-imagen" (change)="subirImg($event)" class="ing-txt"><br><br>
        <button type="submit" mat-raised-button id="submit" color="primary" [disabled]="activarBut()" (click)="enviandoDatos()">Enviar</button>
    </form>
</div>
