mat-form-field {
  width: 100%;
}

 mat-option, button{
  font-family: 'gotham-bold';
}


mat-form-field, input {
  font-family: 'gotham-book';

}
h2 {
  font-family: 'gotham-bold';
}


img{
  border-radius: 30px;
  width: 250px;
}


/*Para el margen*/
:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px 16px;
}
