<div class="container-autocapc">
  <h2>AUTOCAPACITACIONES</h2>
  <div class="cabecera">
    <form  class="cabecera" [formGroup]="formBuscar">
    <div class="search">
      <mat-form-field class="example-ripple-form-field">
        <mat-label>Buscar auto capacitacion</mat-label>
        <input autocomplete="off" matInput formControlName="buscador" >
      </mat-form-field>
      <div class="btn-buscar" (click)="buscador()">
        <button id="btn-trans">
        <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    </form>
    <div id="matform-c">
   <!--  <form [formGroup]="formBuscar">
    <mat-form-field id="selectLocal" appearance="outline">
      <mat-label>Seleccione la seccion</mat-label>
      <mat-select formControlName="seccion" (selectionChange)="buscador()">
        <mat-option *ngFor="let i of locales" [value]="i.idLocal"> {{i.local}} </mat-option>
        <mat-option value="-1">Ninguno</mat-option>
      </mat-select>
    </mat-form-field>
    </form> -->
    </div>
    <div class="botonc">
      <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu" >
       Autocapacitaciones
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="crear()" mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Agregar</span>
        </button>
        <button (click)="borrarAutoCapacitacion()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
        <button (click)="modificar()" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Modificar</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="nombre" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Autocapacitacion </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nombre}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="hotel">
      <th mat-header-cell *matHeaderCellDef> Hotel </th>
      <td mat-cell *matCellDef="let element"> {{element.local}} </td>
    </ng-container> -->
    <!-- <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="borrar(element.idAutoCap)">
        Borrar
      </button>
    </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
  <div class="existe" [hidden]="hayElementos()"> No hay Autocapacitaciones registrados...</div>
  <mat-paginator [pageSize]="10"
                aria-label="Select page of users">
  </mat-paginator>
</div>
