<div cdkDragRootElement=".cdk-overlay-pane" class="example-box"  cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
<h2 mat-dialog-title>{{data == 11? 'Eliminar categoría': 'Eliminar Tema'}}</h2>
<form [formGroup]="formRest">
  <ng-container *ngIf="data == 11; else elseTemplate">
    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoria" >
        <mat-option *ngFor="let i of categorias;"  [value]="i.idCatArApr"> {{i.categoria}} </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-template #elseTemplate>
    <mat-form-field appearance="outline">
      <mat-label>Tema</mat-label>
      <mat-select formControlName="tema">
        <mat-option *ngFor="let i of temas;"  [value]="i.idTemaArApr"> {{i.tema}} </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close #cancelarBtn>Cancelar</button>
    <button mat-button (click)="enviandoDatos()" #agregarBtn>Eliminar</button>
  </mat-dialog-actions>
</form>
</div>

