<div class="container">
  <h2>MENU</h2>
  <div class="cabecera">
    <form  class="cabecera" [formGroup]="formBuscar">
    <div class="search">
      <mat-form-field class="example-ripple-form-field" appearance="standard">
        <mat-label>Buscar comida</mat-label>
        <input autocomplete="off" matInput formControlName="buscador" >
      </mat-form-field>
      <div class="btn-buscar" (click)="buscador()">
        <button id="btn-trans">
        <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    </form>
    <div id="matform-c">
    <form class="cabecera" [formGroup]="formBuscar">
    <mat-form-field id="selectLocal" appearance="outline">
      <mat-label>Seleccione la seccion</mat-label>
      <mat-select formControlName="seccion">
        <mat-option *ngFor="let i of locales" [value]="i.idLocal" >
            {{i.local}}
          </mat-option>
        <mat-option value="-1">Ninguno</mat-option>
      </mat-select>
    </mat-form-field>
    </form>
    </div>
    <div id="botonc">
      <button  mat-raised-button color="primary" (click)="agregar()">
        Agregar comida
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container><!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de despliegue </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="hotel">
      <th mat-header-cell *matHeaderCellDef> Hotel </th>
      <td mat-cell *matCellDef="let element"> {{element.local}} </td>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="editar(element)">
        Editar
      </button>
      <button mat-raised-button color="primary" (click)="borrar(element.idComida)">
        Borrar
      </button>
    </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
  <div class="existe" [hidden]="hayElementos()"> No hay comidas registrados...</div>
  <mat-paginator [pageSize]="10"
                aria-label="Select page of users">
  </mat-paginator>
</div>
