
table {
  width: 100%;
}

table th {
  font-family: 'gotham-regular';
}

table td {
  font-family: 'gotham-book';
}

mat-option {
  font-family: 'gotham-book';
}

mat-form-field, input {
  font-family: 'gotham-book';
}

mat-form-field#selectLocal {
  width: 200px;
}

::ng-deep span.mat-select-min-line {
  font-family: 'gotham-book';
}

.cabecera {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

button {
  margin: 5px;
  border-radius: 0;
  font-family: 'gotham-medium';
}

#botonc {
  align-self: center;
}

.container-menu {
  align-self: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
}


.search {
  display: flex;
  align-items: center;
}

#btn-trans {
  border: none;
  background: transparent;
}

div#matform-c {
  margin-bottom: -10px;
}

/**Loading para componentes*/
.preloader {
  width: 60px;
  height: 60px;
  border: 10px solid #eee;
  border-top: 10px solid rgb(255, 186, 96) ;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor:wait;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.existe {
  text-align: center;
  font-family: 'gotham-bold';
}
