<div class="container-cumpleaños">
  <div id="cabecera">
    <img [src]="link+'assets/img/img-seccion-hotel/cumpleaneros-head.png'" id="cabecera-cumpleaños"  alt="cabecera-cumpleaños">
    <span id="titulo_1">CUMPLEAÑEROS <br> <span id="titulo_2" [style.color]="color_primary"> DE {{mes}}</span></span>
  </div>
  <section class="usuario-seccion">
    <h2>¡Muchas <span [style.color]="color_primary"> Felicidades! </span></h2>
    <span id="descrip">Grupo Araiza te desea un año lleno de minutos de amor, felicidad y alegría. ¡Feliz Cumpleaños!</span>
    <div id="img-container">
    <div  *ngFor="let i of usuarios; let idx = index">
      <div class="usuario">
        <img [src]="api+'imgVideo/fotos/'+i.img" alt="img-usuario" class="marco"> <br>
        <div class="texto">
           <span class="nombre">{{i.nombres+' '+i.apellidoPaterno}}</span><br>
           <span [style.color]="color_primary" class="depa">{{i.departamento.toUpperCase()}}</span>
          <br>
          <div class="fechaNac" [style.background] = "color_primary">
            {{dateNormal(i.fechaNacimiento)}}
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
    <div class="existe" [hidden]="hayElementos()"> No hay cumpleañeros este mes...</div>
  </section>
</div>
<app-footer></app-footer>
