  iframe {
    width: 560px;
    height: 315px;
  }

  #container-ar-apr-click {
    min-height: 100%;
    padding-bottom: 5%;
  }

  #titulo2 {
    font-family: 'gotham-bold';

  }

  #titulo1 {
    font-family: 'gotham-bold';
  }
  h2 {
    text-align: left;
    font-family: 'gotham-bold';
  }

  h3 {
    text-align: left;
    font-family: 'gotham-bold';
  }


  p {
    text-align: justify;
    font-family: 'gotham-book';
    font-size: 16px;
  }

  #container-btn-sgt {
    display: flex;
    justify-content:space-between;
  }

/* Estilo básico para la etiqueta <a> */
a.link {
  color: #0000EE; /* Color del texto */
  /*text-decoration: none;  Quita el subrayado */
  /* font-weight: bold; Hace el texto en negrita */
  font-family: Arial, sans-serif; /* Fuente del texto */
}

/* Estilo cuando se pasa el mouse por encima (hover) */
a.link:hover {
  color: #551A8B; /* Cambia el color al pasar el mouse */
  text-decoration: underline; /* Subraya el texto al pasar el mouse */
  cursor: pointer;
}

/* Estilo para enlaces visitados */
a.link:visited {
  color: #FF0000; /* Color para enlaces ya visitados */
}

/* Estilo para enlaces activos (al hacer clic) */
a.link:active {
  color: #004085; /* Color cuando el enlace está activo */
  text-decoration: underline; /* Subraya el texto */
}

@media(max-width:740px){
  h2 {
    font-size: 18px;
    line-height: normal;
  }

  h3 {
    font-size: 18px;
    line-height: normal;
  }

  p {
    text-align: justify;
    font-family: 'gotham-book';
    font-size: 14px;

  }
}

@media(max-width:700px){
  iframe {
    width: 400px;
    height: 245px;
  }
}

@media(max-width:499px){
  iframe {
    width: 350px;
    height: 245px;
  }
}


@media(max-width:420px){
  iframe {
    width: 280px;
    height: 230px;
  }
}

@media(max-width:355px){
  iframe {
    width: 250px;
    height: 230px;
  }
}

@media(max-width:355px){
  iframe {
    width: 220px;
    height: 230px;
  }
}
