<div id="container-comida">
  <div id="cabecera">
    <img [src]="link+'assets/img/img-seccion-hotel/logo-comedor.png'" id="logo-comedor" alt="logo-comedor">
    <img [src]="link+'assets/img/img-seccion-hotel/comedor-head.png'" id="cabecera-comida"  alt="cabecera-cumpleaños">
    <span id="titulo_1">MENÚ COMEDOR <br> <span id="titulo_2" [style.color]="color_primary"> DE {{mes}}</span></span>
  </div>
  <section class="comida-seccion">
    <div id="comida-titulo">
      <h2>¡Buen <span [style.color]="color_primary"> Provecho! </span></h2>
      <span class="descrip">Esperamos que los platillos sean de tu agrado.</span>
    </div>
    <div id="comida-container">
      <div  *ngFor="let i of menu; let idx = index" class="cuadro">

        <h3 class="nombre">{{i.nombre}}</h3>
        <article class="texto">
            {{i.descripcion}}
        </article>
        <div class="containerFecha">
          <div class="fecha" [style.background] = "color_primary">
            {{dateNormal(i.fecha)}}
          </div>
        </div>
    </div>

    </div>
    <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
    <div class="existe descrip" [hidden]="hayElementos()"> No hay comidas registradas...</div>
  </section>
</div>
<app-footer ></app-footer>
