

#cabecera {
  display: flex;
}

#logo-comedor {
  position: absolute;
  margin-left: 10%;
  margin-top: 25%;
  width: 8%;
  object-fit: contain;
}

article {
  position: absolute;
  margin-left: 10%;
  margin-top: 14%;
  font-family: 'gotham-book';
  font-size: 1vw;
  line-height: normal;
}

#cabecera-mes {
  width: 100%;
  object-fit: contain;
}


#titulo_1 {
  margin-top: 5%;
  margin-left: 10%;
  position: absolute;
  font-size: 3vw;
  line-height: normal;
  font-family: 'gotham-bold';
}

#titulo_2 {
  color: black;
}

#titulo {
  margin-bottom: 3%;
}

#titulo h2 {
  font-size: 1.2vw;
}

section {
  margin: 5%;
  font-family: 'gotham-book';
  font-size: 1vw;
  line-height: normal;
  height: 100%;
}

/*usuarios container*/

.corona {
  width: 30%;
}

table {
  width: 100%;
  vertical-align: middle;
  font-family: 'gotham-book';
  font-size: 0.8vw;
}

td.num {
  font-family: 'gotham-bold';
  text-align: center;
  font-size: 1.4vw;
}

.negrito {
  font-family: 'gotham-bold';
}

td.img {
  text-align: center;
}

td.ud {
  text-align: center;
}


.nombre{
  font-size: .8vw;
  line-height: normal;
  font-weight: bold;
}


.img-card img {
  border-radius: 50%;
  width: 60%;
  align-items: center;
}


@media (max-width:1500px) {

  table {
    font-size: 1.2vw;
  }

  #titulo_1 {
    font-size: 3.5vw;
  }
  article {
    font-size: 1.5vw;
  }

  #titulo h2 {
    font-size: 23px;
  }

  td.num {
    font-size: 1.7vw;
  }
}

@media (max-width:700px) {
  #titulo_1 {
    font-size: 4vw;
  }
  article {
    font-size: 1.7vw;
  }

  #titulo h2 {
    font-size: 14px;
  }

  table {
    font-size: 12px;
  }
  td.num {
    font-size: 14px;
  }
}

@media (max-width:500px) {
  #titulo h2 {
    font-size: 12px;
  }

  table {
    font-size: 2vw;
  }

  td.num {
    font-size: 12px;
  }
}



