<div id="container-diamante">

    <div class="article-container araizaDiam">
        <div class="textoDiamante">

            <h1>ARAIZA <br><span style="color:#DC994D;"> DIAMANTE</span></h1>
            <article>
                ¡Conoce los beneficios que obtienes al convertirte en colaborador de Araiza Diamante!
            </article>
            <button  mat-raised-button id="btnWeb" (click)="irLink('https://www.araizahoteles.com/araiza-diamante')">Sitio web</button>
        </div>
        <img  rel="preload" class="imgAraiza" [src]="this.link+'assets/img/araiza-diamante/celular-araiza.png'" alt="">
    </div>
    <div class="article-container" id="seccion4">
        <img  rel="preload" class="imgAraiza2" [src]="this.link+'assets/img/araiza-diamante/descuentos-pic.png'" alt="">
        <div>
            <h1 class="h1-s">30% de descuento en <br><span style="color:#DC994D;">alimentos y bebidas</span></h1>
            <article>
                Aplica en todos los hoteles.
            </article>
        </div>
    </div>
    <div id="seccion2" class="seccion">
        <h1 class="h1-s">RECOMPENSAS</h1>
        <article>
            Revisa las Recompensas que puedes adquirir con tus puntos de Araiza Diamante
        </article>
        <button id="recompensas"  (click)="irLink('https://araizadiamante.com/alianzas/catalogo/index.php?id=Mw==')" color ="primary" mat-raised-button >Recompensas</button>
    </div>
    <div id="seccion3" class="seccion">
        <div id="alianzas">
            <h1 class="h1-s">ALIANZAS</h1>
            <article>
                Conoce los descuentos de las alianzas a los que puedes ser acreedor con tu tarjeta de Araiza Diamante. Si deseas conocer más sobre el convenio ingresa al <a href="https://araizadiamante.com/alianzas/catalogo/index.php?id=Mg==" class="color_primario">catalogo de alianzas.</a>
            </article>
        </div>
        <br>

        <div class="container" id="carousel-diamante">
          <!-- <article id="mensaje-alianzas">Para saber las alianzas por favor comuníquese con araiza diamante</article> -->
          <ngx-slick-carousel #slickModal="slick-carousel"  [config]="carouselConfig">
            <div ngxSlickItem *ngFor="let item of items; let idx = index">
              <img  rel="preload" [src]="'https://www.comunicadosaraiza.com/portal_api/API/araiza_diam_img/'+item" [alt]="idx+'image'">
            </div>
          </ngx-slick-carousel>
        </div>
    <br>
    </div>
    <div id="seccion5">
      <div id="partSupSec5">
      <h1 id="puntajeAraiza">{{resp.puntos ===""?0: (+resp.puntos).toLocaleString('es-MX', opciones)}}</h1>
      <article>
        <span>Consulta tu puntaje actual</span> <br>
        <span > <a href="https://form.jotform.com/233547484963873" class="color_primario"> ¿Deseas canjear los puntos?</a></span>
      </article>
      <form>
        <mat-form-field class="example-full-width" id="search">
          <mat-label>Ingresa tu número de socio</mat-label>
          <input #inputTarj autocomplete="off" type="text"  name="search" matInput>
        </mat-form-field>
        <button mat-raised-button (click)="submitForm(+inputTarj.value)" id="btnSearch" color="primary">Enviar</button>
      </form>
      <br><br><br>
      </div>
        <span id="aux">
          <article id="letraspeques">
            Para más información o consulta de tu número de socio, envía un correo a <br> <span class="color_primario">araizadiamante&#64;araizahoteles.com</span>
          </article>
        </span>
    </div>
</div>
<app-footer></app-footer>
