<div id="container-diamante">

    <div class="article-container araizaDiam">
        <div class="textoDiamante">

            <h1>ARAIZA <br><span style="color:#DC994D;"> DIAMANTE</span></h1>
            <article>
                ¡Conoce los beneficios que obtienes al convertirte en colaborador de Araiza Diamante!
            </article>
            <button  mat-raised-button id="btnWeb" (click)="irLink('https://www.araizahoteles.com/araiza-diamante')">Sitio web</button>
        </div>
        <img class="imgAraiza" [src]="this.link+'assets/img/araiza-diamante/celular-araiza.png'" alt="">
    </div>
    <div class="article-container" id="seccion4">
        <img class="imgAraiza2" [src]="this.link+'assets/img/araiza-diamante/descuentos-pic.png'" alt="">
        <div>
            <h1 class="h1-s">30% de descuento en <br><span style="color:#DC994D;">alimentos y bebidas</span></h1>
            <article>
                Aplica en todos los hoteles.
            </article>
        </div>
    </div>
    <div id="seccion2" class="seccion">
        <h1 class="h1-s">RECOMPENSAS</h1>
        <article>
            Revisa las Recompensas que puedes adquirir con tus puntos de Araiza Diamante
        </article>
        <button id="recompensas"  (click)="irLink('https://document-tc.galaxy.tf/wdpdf-4aoe1tqwocl05vok14mejan4y/araiza-diamante_cms-document.pdf')" color ="primary" mat-raised-button >Recompensas</button>
    </div>
    <div id="seccion3" class="seccion">
        <div id="alianzas">
            <h1 class="h1-s">ALIANZAS</h1>
            <article>
                Conoce los descuentos de las alianzas a los que puedes ser acreedor con tu tarjeta de Araiza Diamante.
            </article>
        </div>
        <br>

        <div class="container" >

          <article id="mensaje-alianzas">Para saber las alianzas por favor comuníquese con araiza diamante</article>
           <!-- *ngIf="items.length > 0" -->
          <ngx-slick-carousel #slickModal="slick-carousel" (beforeChange)="cambiarSlider($event)" class="carousel" [config]="carouselConfig">
            <div ngxSlickItem *ngFor="let item of items">
              <img [src]="item.logo" [alt]="item.nombre">
            </div>
          </ngx-slick-carousel>
          <button (click)="slickModal.slickGoTo(prev())">Prev</button>
          <button (click)="slickModal.slickGoTo(next())">Next</button>

          <!-- <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of items">
                <img [lazyLoad]="item.logo" [alt]="item.nombre">
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper-pagination"></div>
          </div> -->


          <!-- <owl-carousel [options]="carouselOptions">
            <ng-container *ngFor="let item of items">
              <img [lazyLoad]="item.logo" [src]="link+'assets/img/pruebas/loading-noticia.gif'" [alt]="item.nombre">
            </ng-container>
          </owl-carousel> -->
        </div>
        <!-- img class="control prev" [src]="this.link+'assets/img/araiza-diamante/img1.png'" alt="img1">
        <div class="slider">
            <img *ngFor="let r of carrusel_mini" class="imgMiniSlider" src="{{r.logo}}" alt="{{r.logo}}">
        </div>
        <img class="control next" [src]="this.link+'assets/img/araiza-diamante/img2.png'" alt="img8">-->
    <br>
    </div>
    <div id="seccion5">
      <div id="partSupSec5">
      <h1 id="puntajeAraiza">{{resp.puntos ===""?0: (+resp.puntos).toLocaleString('es-MX', opciones)}}</h1>
      <article>
        <span>Consulta tu puntaje actual</span> <br>
        <span > <a href="https://form.jotform.com/araizadiamante/solicitud-de-recompensas" class="color_primario"> ¿Deseas canjear los puntos?</a></span>
      </article>
      <form>
        <mat-form-field class="example-full-width" id="search">
          <mat-label>Ingresa tu número de socio</mat-label>
          <input #inputTarj autocomplete="off" type="text"  name="search" matInput>
        </mat-form-field>
        <button mat-raised-button (click)="submitForm(+inputTarj.value)" id="btnSearch" color="primary">Enviar</button>
      </form>
      <br><br><br>
      </div>
        <span id="aux">
          <article id="letraspeques">
            Para más información o consulta de tu número de socio, envía un correo a <br> <span class="color_primario">araizadiamante@araizahoteles.com</span>
          </article>
        </span>
    </div>
</div>
<app-footer></app-footer>
