<div class="container-empl">
  <h2>Empleados del mes</h2>


  <div class="cabecera">
    <form  class="cabecera" [formGroup]="formBuscar">
    <div class="search">
      <mat-form-field class="example-ripple-form-field" appearance="standard">
        <mat-label>Buscar usuario</mat-label>
        <input autocomplete="off"  matInput formControlName="buscador" >
      </mat-form-field>
      <div class="btn-buscar" (click)="buscador()">
        <button id="btn-trans">
        <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    </form>
    <div id="matform-c">
    <form class="cabecera" [formGroup]="formBuscar">
    <mat-form-field id="selectLocal" appearance="outline">
      <mat-label>Seleccione la seccion</mat-label>
      <mat-select formControlName="seccion" (selectionChange)="buscador()">
        <mat-option *ngFor="let i of locales" [value]="i.idLocal"> {{i.local}} </mat-option>
        <mat-option value="-1">Ninguno</mat-option>
      </mat-select>
    </mat-form-field>
    </form>
    </div>

  </div>

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element" > {{element.usuario}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno+" "+element.apellidoMaterno+", "+element.nombres}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <!-- Weight Column -->
    <ng-container matColumnDef="hotel">
      <th mat-header-cell *matHeaderCellDef> Hotel </th>
      <td mat-cell *matCellDef="let element"> {{element.local}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Mes asignado </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha === null || element.fecha === ""? "N/A": obtenerMes(element.fecha)}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha === null || element.fechaInicio === ""? "N/A": element.fechaInicio}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaFinal">
      <th mat-header-cell *matHeaderCellDef> Fecha final </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha === null || element.fechaFinal === ""? "N/A": element.fechaFinal}} </td>
    </ng-container>
    <ng-container matColumnDef="posicion">
      <th mat-header-cell *matHeaderCellDef> Posicion </th>
      <td mat-cell *matCellDef="let element"> {{element.posicion === null ? "N/A": element.posicion}} </td>
    </ng-container>
    <ng-container matColumnDef="contrato">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.contratoNombre}} </td>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="editar_agregar(element)">
        Editar
      </button>
      <button mat-raised-button color="primary" (click)="borrar(element)">
        Borrar
      </button>
    </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
  <div class="existe" [hidden]="hayElementos()"> No hay usuarios registrados...</div>
  <mat-paginator [pageSize]="10"
                aria-label="Select page of users">
  </mat-paginator>
</div>
