
table {
  width: 100%;
}

table th {
  font-family: 'gotham-regular';
}

table td {
  font-family: 'gotham-book';
}

mat-option {
  font-family: 'gotham-book';
}

mat-form-field, input {
  font-family: 'gotham-book';
}

mat-form-field#selectLocal {
  width: 200px;
}

::ng-deep span.mat-select-min-line {
  font-family: 'gotham-book';
}

.cabecera {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

button {
  margin: 5px;
  border-radius: 0;
  font-family: 'gotham-medium';
}

#botonc {
  align-self: center;
}

.container-empl {
  align-self: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
}


.search {
  display: flex;
  align-items: center;
}

#btn-trans {
  border: none;
  background: transparent;
}

div#matform-c {
  margin-bottom: -10px;
}
