<div class="example-box"  cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
<h4 mat-dialog-title>Editar competencia</h4>
<form autocomplete="off">
  <mat-dialog-content>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Seleccione un hotel</mat-label>
      <mat-select (selectionChange)="selectedLocal($event)">
        <ng-container *ngFor="let i of localInterfaz">
          <ng-container *ngIf="i.idLocal > 0">
            <mat-option [value]="i.idLocal" > {{i.local}} </mat-option>
          </ng-container>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Elige un evento</mat-label>
      <input type="text"
            matInput
            autocomplete="off"
            [formControl]="myControlEventos"
            [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="selectedEvento($event)">
          @for (o of filteredOptionsEventos | async; track o.idCompetencia) {
            <mat-option  [value]="o" >{{o.nombre}}</mat-option>
          }
      </mat-autocomplete>
      </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-stroked-button color="primary" (click)="enviarDatos(false)">Cancelar</button>
  <button mat-flat-button color="primary" (click)="enviarDatos(true)">Aceptar</button>
</mat-dialog-actions>
</form>
</div>
