
<div class="navbar-container">
  <mat-toolbar  [hidden]="isAdmin">
    <mat-toolbar-row>
      <div id="btn-toggle">
        <button  mat-icon-button (click)="snav.toggle()">
          <mat-icon >menu</mat-icon>
        </button>
      </div>
      <div class="logout" [hidden]="mobileQuery.matches">
        <img  rel="preload" [src]="logoActualizado()" alt="">
      </div>
      <div id="space"></div>
      <div class="logout" [hidden]="!mobileQuery.matches">
        <img  rel="preload" [src]="logoActualizado()" alt="">
      </div>

        <div id="menu">
          <div class="opc" (click)="navegarNavH('/general')">
              General
          </div>
            <div class="btn-group" >
              <div class="opc opcM" data-toggle="dropdown" (click)="navegarNavH('/general/mexicali')">
                  Mexicali
              </div>
              <ul class="dropdown-menu noclose">
                  <li (click)="navegarNavH('/general/bookings','mexicali')">
                     Solicitudes
                  </li>
                  <li (click)="buzonSugerencias()">
                      Buzón de sugerencias
                  </li>
                  <li [hidden]="opcionVotar[0]" (click)="votandoPop(1)">
                      Vota
                  </li>
                  <li (click)="lineaDeAyuda()">
                      Línea de ayuda
                  </li>
              </ul>
          </div>
            <div class="btn-group">
              <div class="opc opcM" data-toggle="dropdown" (click)="navegarNavH('/general/calafia')">
                  Calafia
              </div>
              <ul class="dropdown-menu noclose" >
                  <li (click)="navegarNavH('/general/bookings','calafia')">
                     Solicitudes
                  </li>
                  <li (click)="buzonSugerencias()">
                      Buzón de sugerencias
                  </li>
                  <li [hidden]="opcionVotar[1]" (click)="votandoPop(2)">
                      Vota
                  </li>
                  <li (click)="lineaDeAyuda()">
                      Línea de ayuda
                  </li>
              </ul>
          </div>
            <div class="btn-group">
              <div class="opc opcM" data-toggle="dropdown" (click)="navegarNavH('/general/sanLuis')" >
                  San Luis
              </div>
              <ul class="dropdown-menu noclose" >
                  <li (click)="navegarNavH('/general/bookings','sanLuis')">
                      Solicitudes
                  </li>
                  <li (click)="buzonSugerencias()">
                      Buzón de sugerencias
                  </li>
                  <li [hidden]="opcionVotar[2]" (click)="votandoPop(3)">
                      Vota
                  </li>
                  <li (click)="lineaDeAyuda()">
                      Línea de ayuda
                  </li>
              </ul>
            </div>

          <div class="btn-group">
            <div class="opc opcM" data-toggle="dropdown" (click)="navegarNavH('/general/hermosillo')">
                Hermosillo
            </div>
            <ul class="dropdown-menu noclose" >
              <li (click)="navegarNavH('/general/bookings','hermosillo')">
                  Solicitudes
              </li>
              <li (click)="buzonSugerencias()">
                  Buzón de sugerencias
              </li>
              <li [hidden]="opcionVotar[4]" (click)="votandoPop(5)">
                Vota
              </li>
              <li (click)="lineaDeAyuda()">
                  Línea de ayuda
              </li>
            </ul>
            </div>
            <div class="btn-group">
              <div class="opc opcM" data-toggle="dropdown" (click)="navegarNavH('/general/palmira')">
                  Palmira
              </div>
              <ul class="dropdown-menu noclose" >
                  <li (click)="navegarNavH('/general/bookings','palmira')">
                      Solicitudes
                  </li>
                  <li (click)="buzonSugerencias()">
                      Buzón de sugerencias
                  </li>
                  <li [hidden]="opcionVotar[3]" (click)="votandoPop(4)">
                    Vota
                </li>
                  <li (click)="lineaDeAyuda()">
                      Línea de ayuda
                  </li>
              </ul>
        </div>
          <div class="opc logout" [hidden]="isAdminPortal" (click)="portal('/general/slider-config')">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="opc logout" (click)="salir()">
              <mat-icon>exit_to_app</mat-icon>
          </div>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container  class="navbar-sidenav-container">

    <!--Esto va dentro de la etiqueta mat-sidenav [opened]="mobileQuery.matches"--> 
    <!-- [ngStyle]="{'background-color': isAdmin===true?'#293641':'white'}" -->
    <mat-sidenav style="background-color: rgb(0 18 38);" id="mat-estaticos" #snav [opened]="isAdmin"  [mode]="mode">
              <!--Navbar de Usuario normal-->
              <mat-nav-list id="usuarioNav" [hidden]="isAdmin">
                <div >
                  <p> Menu </p>
                </div>
                <a  mat-list-item class="menu-opc" (click)="navegarNavH('/general')">
                  General
                </a>
                <mat-expansion-panel  togglePosition="before" [hidden]="ocOpcionVerticalNav(1)">
                <mat-expansion-panel-header #panelH >
                  <a mat-list-item   class="menu-opc" (click)="panelH._toggle()" (click)="navegarNavH('/general/mexicali')">
                     Mexicali
                  </a>
                </mat-expansion-panel-header>
                <a mat-list-item (click)="navegarNavH('/general/bookings','mexicali')" class="menu-opc" routerLinkActive="active" mat-line>
                  Solicitudes</a>
                <a mat-list-item (click)="buzonSugerencias()" routerLinkActive="active" mat-line>
                  Buzón de sugerencias</a>
                <a mat-list-item (click)="lineaDeAyuda()" routerLinkActive="active" mat-line>
                  Línea de ayuda</a>
                <a mat-list-item [hidden]="opcionVotar[0]" (click)="votandoPop(1)" routerLinkActive="active" mat-line>
                  Vota</a>
                </mat-expansion-panel>
                <mat-expansion-panel  togglePosition="before" [hidden]="ocOpcionVerticalNav(2)">
                <mat-expansion-panel-header #panelH2>
                  <a mat-list-item class="menu-opc"  (click)="panelH2._toggle()" (click)="navegarNavH('/general/calafia')">
                   Calafia
                </a>
                </mat-expansion-panel-header>
                <a mat-list-item (click)="navegarNavH('/general/bookings','calafia')" class="menu-opc" routerLinkActive="active" mat-line>
                  Solicitudes</a>
                <a mat-list-item (click)="buzonSugerencias()" routerLinkActive="active" mat-line>
                  Buzón de sugerencias</a>
                <a mat-list-item (click)="lineaDeAyuda()" routerLinkActive="active" mat-line>
                  Línea de ayuda</a>
                <a mat-list-item [hidden]="opcionVotar[1]" (click)="votandoPop(2)" routerLinkActive="active" mat-line>
                    Vota</a>
                </mat-expansion-panel>
                <mat-expansion-panel  togglePosition="before" [hidden]="ocOpcionVerticalNav(3)">
                <mat-expansion-panel-header #panelH3>
                <a mat-list-item class="menu-opc"  (click)="panelH3._toggle()" (click)="navegarNavH('/general/sanLuis')">
                  San Luis
                </a>
                </mat-expansion-panel-header>
                <a mat-list-item class="menu-opc"(click)="navegarNavH('/general/bookings','sanLuis')" routerLinkActive="active" mat-line>
                  Solicitudes</a>
                <a mat-list-item (click)="buzonSugerencias()" routerLinkActive="active" mat-line>
                  Buzón de sugerencias</a>
                <a mat-list-item [hidden]="opcionVotar[2]" (click)="votandoPop(3)" routerLinkActive="active" mat-line>
                  Vota</a>
                <a mat-list-item (click)="lineaDeAyuda()" routerLinkActive="active" mat-line>
                  Línea de ayuda</a>
                </mat-expansion-panel>

                <mat-expansion-panel  togglePosition="before" [hidden]="ocOpcionVerticalNav(5)">
                  <mat-expansion-panel-header #panelH4 >
                  <a mat-list-item class="menu-opc"  (click)="panelH4._toggle()" (click)="navegarNavH('/general/hermosillo')">
                    Hermosillo
                  </a>
                  </mat-expansion-panel-header>
                  <a mat-list-item (click)="navegarNavH('/general/bookings','hermosillo')" routerLinkActive="active" mat-line>
                    Solicitudes</a>
                  <a mat-list-item (click)="buzonSugerencias()" routerLinkActive="active" mat-line>
                    Buzón de sugerencias</a>
                  <a mat-list-item (click)="lineaDeAyuda()" routerLinkActive="active" mat-line>
                    Línea de ayuda</a>
                  <a mat-list-item [hidden]="opcionVotar[4]" (click)="votandoPop(5)" routerLinkActive="active" mat-line>
                    Vota</a>
                  </mat-expansion-panel>
                  <mat-expansion-panel  togglePosition="before" expanded="false" [hidden]="ocOpcionVerticalNav(4)">
                  <mat-expansion-panel-header #panelH5>
                  <a mat-list-item class="menu-opc"  (click)="panelH5._toggle()" (click)="navegarNavH('/general/palmira')">
                      Palmira
                  </a>
                  </mat-expansion-panel-header>
                  <a mat-list-item class="menu-opc" (click)="navegarNavH('/general/bookings','palmira')" routerLinkActive="active" mat-line>
                    Solicitudes</a>
                  <a mat-list-item (click)="buzonSugerencias()" routerLinkActive="active" mat-line>
                    Buzón de sugerencias</a>
                  <a mat-list-item (click)="lineaDeAyuda()" routerLinkActive="active" mat-line>
                    Línea de ayuda</a>
                  <a mat-list-item [hidden]="opcionVotar[3]" (click)="votandoPop(4)" routerLinkActive="active" mat-line>
                    Vota</a>
                  </mat-expansion-panel>
                <a mat-list-item class="logout"  (click)="salir()" routerLinkActive="active">
                  <mat-icon mat-list-icon>
                  exit_to_app
                  </mat-icon>
                   Salir
                </a>
                <a mat-list-item class="logout"  [hidden]="isAdminPortal" (click)="portal('/general/slider')">
                  <mat-icon mat-list-icon>
                  settings
                  </mat-icon>
                  Ajustes
                </a>
              </mat-nav-list>
      <!--Navbar de usuario administrador-->
        <mat-nav-list id="adminNav" [hidden]="!isAdmin">
        <!-- [ngStyle]="{'background-color': '#293641'}" -->
        <div class="opcMenu"   aria-selected="true">
          <span > <img style="border-radius: 50%; border: black solid 10px;" rel="preload" [src]="this.link+'assets/img/logos/AAR.png'" id="logo_nav" alt=""> </span>
        </div>
        <!-- <a [ngStyle]="{'background-color': '#293641'}" mat-list-item  (click)="portal('/general')"  >
          <mat-icon mat-list-icon >
          <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-portal.png'" alt="">
        </mat-icon>
          <span   class="opc"> Inicio  </span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item (click)="navegarNavH('/general/slider-config')"  >
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-slider.png'" alt="">
          </mat-icon>
          <span   class="opc verticalN-opc" > Slider  </span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item (click)="navegarNavH('/general/araiza-aprende-config')"  >
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-ar-apr.svg'" alt="">
          </mat-icon>
          <span   class="opc verticalN-opc" > Aprende  </span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item (click)="navegarNavH('/general/noticias-config')">
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-noticia.png'" alt="">
          </mat-icon>
          <span   class="opc verticalN-opc" > Noticias  </span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item (click)="navegarNavH('/general/menu-config')">
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-menu.png'" alt="">
          </mat-icon>
          <span   class="opc verticalN-opc" > Menu  </span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item  (click)="navegarNavH('/general/empleado-mes-config')">
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-aniversario.png'" alt="">
          </mat-icon>
          <span class="opc verticalN-opc" > Empleado del mes  </span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item  (click)="navegarNavH('/general/galeriaMulti-config')" >
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-galeria.png'" alt="">
          </mat-icon>
          <span class="opc verticalN-opc"  > Galeria Multimedia </span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item  (click)="navegarNavH('/general/usuarios-config')" >
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-galeria.png'" alt="">
          </mat-icon>
          <span class="opc verticalN-opc"  > Usuarios</span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item  (click)="navegarNavH('/general/autocapac-config')" >
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-galeria.png'" alt="">
          </mat-icon>
          <span class="opc verticalN-opc">Autocapacitaciones</span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item  (click)="navegarNavH('/general/votaciones-config')" >
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-galeria.png'" alt="">
          </mat-icon>
          <span class="opc verticalN-opc">Votaciones</span>
        </a> -->
         <!--<a [ngStyle]="{'background-color': '#293641'}" mat-list-item  (click)="navegarNavH('/general/cuestionarios-menu')" >
          <mat-icon mat-list-icon >
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/emoticon-sonriente.png'" alt="">
          </mat-icon>
          <span class="opc verticalN-opc">Cuestionarios</span>
        </a>
        <a [ngStyle]="{'background-color': '#293641'}" mat-list-item class="logout" (click)="salir()" routerLinkActive="active">
          <mat-icon mat-list-icon>
            <img  rel="preload" [src]="this.link+'assets/img/img-nav-admin/icon-cerrarsesion.png'" alt="">
          </mat-icon>
          <span class="opc"  > Salir </span>
        </a> -->
        </mat-nav-list>
    </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content class="sidenav-content">
    <router-outlet ></router-outlet>
    <!-- <router-outlet name="auxName"></router-outlet>-->
  </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
