  .navbar {
    z-index: 1;
  }

  .navbar-brand {
    text-decoration: none;
    color: #fafafa  ;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar-container {
    background-color:  white !important;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;

  }

  .navbar-is-mobile .navbar {
    position: fixed !important;
    z-index: 2;
  }

  .navbar-sidenav-container {
    flex:1;
  }

  .navbar-is-mobile .navbar-sidenav-container {
    flex: 1 0 auto;
  }

  .progress-bar-container {
    height: 5px;
  }

  a.mat-list-item {
    background: white;
    box-shadow: none !important;
  }
  #push-bottom {
    position: absolute;
    bottom: 0;
  }


  .panel {
    border: solid 1px #ddd;
    border-radius: 10px;
    box-shadow: none;
    display: block;
    text-decoration: none!important;

  }
  ::ng-deep #mat-estaticos .mat-drawer-inner-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10%;
  }

  mat-nav-list#adminNav {
    width: 300px;
  }

  #adminNav .opcMenu {
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
  }

  .mat-list-text p{
    color: black;
  }

/*
  #adminNav a:hover, .opc:hover, img:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(62%) saturate(1922%) hue-rotate(312deg) brightness(100%) contrast(102%);
    color : #ffba60;
  }*/

  span {
    color: white;
  }

  .opcM {
    background-image: url("../../../assets/img/pruebas/vector2.png");
    background-repeat: no-repeat;
    background-position: center right;
  }
  .opcM:hover {
    color: #ffba60 !important;
    background-image: url("../../../assets/img/pruebas/vector.png") !important;
    background-repeat: no-repeat;
    background-position: center right;
  }

  .opc:hover {
    color: #ffba60 !important;
  }

  #adminNav .opc:active {
    color: #ca934b !important;
  }

  #adminNav mat-icon img {
    margin-bottom: 10px;
  }

  /*
  #adminNav mat-icon img:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(62%) saturate(1922%) hue-rotate(312deg) brightness(100%) contrast(102%);
  }*/

  mat-nav-list  {
    width: 250px;
    padding-top: 40px;
  }

  ::ng-deep span.mdc-list-item__content {
    padding-left: 25% !important;
    font-family: "gotham-medium";
    font-size: 15px;
    height: 56px;
    align-content: center;
  }

  /*
  ::-webkit-scrollbar-thumb
  {
    background: #2b3779 !important;

  }

  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: #b6b5b5 !important;
  }

  ::ng-deep .mat-drawer-inner-container {
    overflow:  visible !important;
    background-color: white !important;
    }
  */

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }

  a.mat-list-item:hover{
    background-color: #f1f1f1;
  }

  .mat-icon-button {
    transform: scale(1.5);
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    background: none;
    border-radius: 50%;
  }

  p {
  margin-left: 20px;
  }

  mat-toolbar-row {
    font-size: 0.9rem;
  }

  mat-toolbar {
    background-color: #fafafa;
    z-index: 2;
    box-shadow: 0px 1.5px 20px 1px #a7a6a6;
  }

  ::ng-deep .mat-list-item-content{
    padding: 0;
  }

  a.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
    height: 56px;
  }
  ::ng-deep .mat-typography h1 {
    font: 400 24px / 32px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
  }

  #menu {
    display: flex;
    font-family: 'gotham-bold';
    font-size: 15px;
    }
  ul {
    font-size: 15px;
  }

  .opc, a {
    padding: 16px;
    width: 100%;
    vertical-align: text-bottom;
  }
  .opc:hover{
    color: #ffba60;
    cursor: pointer;
  }

  .opc:active {
  color: #ca934b;

  }


  #space {
    width: 100%;
  }

  #btn-toggle{
    display: none;
  }

  .opc.logout {
    justify-content: center;
    display: flex;
  }

  /*Mas opciones */
  .btn-group:hover .dropdown-menu.noclose {
    display: block;
  }
  .dropdown-menu.noclose {
      margin-top: 50px;
      padding: 5px;
  }
  .dropdown-menu.noclose li:hover, img {
    color: #ffba60;
  }
  .dropdown-menu.noclose li:active {
    color: #ca934b;
  }

  .dropdown-menu li {
    height: 35px;
    align-content: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .btn-group {
    box-shadow: none;
}

a.mat-list-item {
  background: transparent;
}

a.mat-list-item:hover {
  background: transparent !important;
}

a.mat-list-item:active {
  background: transparent !important;
}

#logo_nav {
  width: 140px;
}

  @media(max-width:700px){

    #section_3 img {
      width: 200px;
    }

    #btn-toggle{
      display: block;
    }

    #menu {
      display: none;
    }
  }

  @media(max-width:830px){
    #menu, ul {
      font-size: 14px;
    }
  }

  @media(max-width:755px){
    #menu, ul {
      font-size: 12px;
    }
  }




