<div class="container-votaciones">
  <h2>Competencias</h2>
  <div id="cabeceraRows">
    <div class="cabecera">
      <form [formGroup]="formBuscar" class="cabecera">
      <div class="search">
        <mat-form-field class="example-ripple-form-field" >
          <mat-label>Buscar compentencia</mat-label>
          <input autocomplete="off" matInput formControlName="buscador" >
        </mat-form-field>
        <div class="btn-buscar" (click)="buscador()">
          <button class="btnResponsive" id="btn-trans">
          <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      </form>
      <div id="matform-c">


    <div id="cabecera2">

      <form class="cabecera" [formGroup]="formBuscar">

        <div class="botonc">

          <mat-form-field appearance="outline">
            <mat-label>Seleccione la seccion</mat-label>
            <mat-select formControlName="seccion">
              <mat-option *ngFor="let i of locales"  [value]="i.idLocal"> {{i.local}} </mat-option>
              <mat-option value="-1">Ninguno</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="botonc">
          <button  mat-raised-button color="primary" (click)="agregar()">
            Nueva competencia
          </button>
        </div>
        <div class="botonc">
          <div class="botonc">
            <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu" >
             Competencia
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="eliminarDepartamento()" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
              <button (click)="modificarCompentencia()" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Modificar</span>
              </button>
            </mat-menu>
          </div>
        </div>
        </form>
        </div>
      </div>

    </div>
  </div>


  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha_inicial">
      <th mat-header-cell *matHeaderCellDef> Hotel </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_inicial}} </td>
    </ng-container><!-- Symbol Column -->
    <!-- Weight Column -->
    <ng-container matColumnDef="fecha_final">
      <th mat-header-cell *matHeaderCellDef> Fecha inicial </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_final}} </td>
    </ng-container>
    <ng-container matColumnDef="hotel" >
      <th mat-header-cell *matHeaderCellDef> Fecha final </th>
      <td mat-cell *matCellDef="let element" class="visita"> {{element.hotel}} </td>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" class="btnIndividual" >
        Editar
      </button>
      <button mat-raised-button color="primary" class="btnIndividual" >
        Borrar
      </button>
    </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando"></div>
  <div class="existe" [hidden]="hayElementos()"> No hay usuarios registrados...</div>
  <mat-paginator [pageSize]="10"
                aria-label="Select page of users">
  </mat-paginator>
</div>
