<div cdkDragRootElement=".cdk-overlay-pane" class="example-box"  cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
<h2 mat-dialog-title>{{ modalidad === true? 'Agregando nuevo usuario' : 'Modificando usuario'}}</h2>
<form [formGroup]="formUsuario">
<mat-dialog-content>
    <div>
    <mat-form-field appearance="outline" >
      <mat-label>Numero de empleado</mat-label>
      <input autocomplete="off" formControlName="usuario"  matInput type="number">
    </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" >
        <mat-label>Nombres</mat-label>
        <input autocomplete="off" formControlName="nombres"  matInput>
      </mat-form-field>
      </div>
    <div>
    <mat-form-field appearance="outline" >
      <mat-label>Apellido paterno</mat-label>
      <input autocomplete="off" formControlName="apellidoPaterno"  matInput>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline" >
      <mat-label>Apellido materno</mat-label>
      <input autocomplete="off" formControlName="apellidoMaterno"  matInput>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline" >
      <mat-label>Correo</mat-label>
      <input autocomplete="off" formControlName="correo"  matInput>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input autocomplete="off" class = "matInput" formControlName= "contrasena" matInput [type]="hide ? 'password' : 'text'" >
        <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline">
      <mat-label>Hotel</mat-label>
      <mat-select formControlName="cveLocal" (selectionChange)="seleccionandoHotel()">
        <mat-option *ngFor="let i of locales" [value]="+i.idLocal"> {{i.local}} </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="cveRol" (selectionChange)="seleccionandoRol()">
        <mat-option [value]="1">Administrador</mat-option>
        <mat-option [value]="2">Usuario</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Contrato</mat-label>
        <mat-select formControlName="contrato">
          <mat-option [value]="1">Sindicalizado</mat-option>
          <mat-option [value]="2">No sindicalizado</mat-option>
          <mat-option [value]="3">Corporativo</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    <div>
      <mat-form-field appearance="outline" >
        <mat-label>Departamento</mat-label>
        <input formControlName="departamento"  matInput  [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let depa of filteredOptions | async" [value]="depa.departamento" >
            {{ depa.departamento }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
          <input autocomplete="off" formControlName="fechaNacimiento" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de ingreso</mat-label>
            <input autocomplete="off" formControlName="fechaIngreso" matInput [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <br>
      <ng-container *ngIf="modalidad === false">
        <img  rel="preload" [src]="api+'imgVideo/fotos/'+data!.img" alt="imagen-usuario">
        <br>
        <br>
      </ng-container>
      <div>
        <input autocomplete="off" mat-input  type="file" name="subir-imagen" id="subir-imagen" #subirImagen (change)="subirImg($event)" class="ing-txt"><br><br>
      </div>


      <div>
      <!-- <mat-form-field appearance="outline" >
        <mat-label>Marca del vehículo</mat-label>
        <input autocomplete="off" formControlName="markvh" matInput>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field appearance="outline" >
        <mat-label>Modelo del vehículo</mat-label>
        <input autocomplete="off" formControlName="modelvh"  matInput>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field appearance="outline" >
        <mat-label>Color</mat-label>
        <input autocomplete="off" formControlName="color"  matInput>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field  appearance="outline" >
        <mat-label>Placas</mat-label>
        <input autocomplete="off" formControlName="plates"  matInput>
      </mat-form-field> -->
      </div>
  </mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="enviandoDatos()">{{ modalidad === true? 'Crear' : 'Guardar'}}</button>
</mat-dialog-actions>
</form>
</div>

