<div class="example-box"  cdkDrag>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
<h4 mat-dialog-title>Modificando Noticia </h4>
<form [formGroup]="formImgVideo">
  <mat-dialog-content>
  <div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha inicial de la noticia</mat-label>
        <input  autocomplete="off" formControlName="fechaInicial" (dateChange)="fecha1($event.value)" [max]="rango2" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha final de la noticia</mat-label>
        <input autocomplete="off"  formControlName="fechaFinal" (dateChange)="fecha2($event.value)" [min]="rango==undefined?date:rango" matInput [matDatepicker]="picker2">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Seleccione la seccion</mat-label>
        <mat-select formControlName="cveLocal">
          <mat-option [value]="i.idLocal" *ngFor="let i of localInterfaz" [disabled]="i.cantidad==4"> {{i.local}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input autocomplete="off" matInput formControlName="titulo" type="text" class="ing-txt">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <textarea [rows]="7" autocomplete="off" matInput formControlName="descripcion" type="text" class="ing-txt"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-ripple-form-field" appearance="outline">
        <mat-label>Ingrese link de la noticia</mat-label>
        <input autocomplete="off"  matInput formControlName="link" >
      </mat-form-field>
    </div>
    <input  autocomplete="off" mat-input  type="file" name="subir-imagen" id="subir-imagen" (change)="subirImg($event)" class="ing-txt"><br><br>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="enviandoDatos()">Actualizar</button>
</mat-dialog-actions>
</form>
</div>
