#container-ar-apr-form {
  min-height: 100%;
  padding-bottom: 5%;
}

.cajaBx {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 80%;
  border: 1px solid #ccc;
  overflow-y: auto;
}

button {
  margin-top: 20px;
}
