<footer>
    <img id="logo1" [src]="this.link+'assets/img/logos/araiza_logo_1.png'" alt="logo1">
    <div class="container-pie">
      <div class="imgs-pie">
        <img class="imgs" (click)="abrirPagina('https://araizahoteles.com/?utm_medium=cpc&utm_campaign=amadeus&gclid=Cj0KCQiApKagBhC1ARIsAFc7Mc5unwF2WBPMfc-d5m_wBM2aifh26aLhDgwO95txsTRyT20K4JXRpRsaAjE1EALw_wcB&gclsrc=aw.ds&lang=es')" [src]="this.link+'assets/img/img-footer/explorer.png'" alt="logoe">
        <img class="imgs" (click)="abrirPagina('https://www.facebook.com/HotelesAraiza')" [src]="this.link+'assets/img/img-footer/fb.png'" alt="logoe">
      </div>
      <img class="copy" [src]="this.link+'assets/img/img-footer/copyright.png'" alt="">
    </div>
  </footer>
