<div class="cuestionarios"> 
      <h1>CUESTIONARIOS</h1>
      <div class="sep"> 
        <p></p>
        <button (click)="nuevoCuestionario()" mat-raised-button color="primary">
          <i class="fas fa-plus"></i> Agregar cuestionario
        </button>
      </div>
      <!-- <div class="mt-3 mb-3">
        <input class="form-control" placeholder="Buscar"/>
      </div> -->
        <table class="table">
          <thead>
            <tr class="table-active">
              <th scope="col">Nombre</th>
              <!-- <th>Hotel</th> -->
              <th scope="col" class="op">Modificar</th>
              <th scope="col" class="op">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            @for(cuestionario of dataSource; track cuestionario.idFormulario){
            <tr>
              <th scope="row">
                <span>
                  {{ cuestionario.titulo }}
                </span>
              </th>
              <!-- <td>{{ cuestionario.hotel }}</td> -->
              <td>
                <button  (click)="mandarCuestionario(cuestionario.idFormulario)" mat-raised-button color="primary">
                  <i class="fas fa-cog"></i>
                </button>
              </td>
             
              <td>
                <button  mat-raised-button style="background: red;color:white;">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
  
            </tr>
            }
          </tbody>
        </table>      
</div>


  