@use '@angular/material' as mat;

@include mat.core();
//@include mat.strong-focus-indicators();


$deep-purple: (
  50 : #EDE7F6,
  100 : #D1C4E9,
  200 : #B39DDB,
  300 : #9575CD,
  400 : #7E57C2,
  500 : #673AB7,
  600 : #673AB7,
  700 : #512DA8,
  800 : #4527A0,
  900 : #311B92,
  A100 : #B388FF,
  A200 : #7C4DFF,
  A400 : #651FFF,
  A700 : #6200EA,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #ffffff,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #000000,
      800 : #000000,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-primary: mat.m2-define-palette($deep-purple,500);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$my-theme: mat.m2-define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);
@include mat.strong-focus-indicators-theme($my-theme);
