<div class="container-p">

    <carousel *ngIf="imageObject == undefined? imageObjectRemplazo : imageObject">
      <ng-template ngbSlide *ngFor="let slide of imageObject == undefined? imageObjectRemplazo : imageObject" >
        <ng-container *ngIf="slide.formato === 'image'; else elseTemplate">
          <img  rel="preload" class="img-carousel"
          [src]="link+'assets/img/pruebas/loading-banner.png'"
          [lazyLoad]="(recursoUrlStr( slide.src, 1, 1,true) | async)!.toString()"
          [style.cursor]="slide.link==='' || slide.link=== null?'auto':'pointer'" (click)="enviarPagina(slide.link!)"
          />
        </ng-container>
        <ng-template  #elseTemplate>
          <div style="background-color: rgb(184, 184, 184);">
            <video loop muted autoplay oncanplay="this.play()"
            onloadedmetadata="this.muted = true" class="img-carousel"  >
              <source [src]="recursoUrl(slide.src, 2,imageObject == undefined? 0: 1,true)" >
            </video>
          </div>
        </ng-template>
      </ng-template>
    </carousel>



    <div id="section2">
      <div class="info">
        <h2>INFORMACIÓN <span id="nexo">DEL MES</span></h2>
        <span>Mantente al día con las actualizaciones mensuales que Araiza Hoteles trae para ti.</span>
      </div>
      <div class="menu">
      <div class="subMenu">
        <div class="subseccion1">
          <div class="cajaMenu" (click)="routerLink('menu')">
          <div><img  rel="preload" [src]="this.link+'assets/img/img-seccion-hotel/camapana1.png'"></div>
          <div class="item"> MENÚ </div></div>

          <div class="cajaMenu" (click)="routerLink('aniversarios')">
          <div><img  rel="preload" [src]="this.link+'assets/img/img-seccion-hotel/aniversario.png'"></div>
          <div class="item"> ANIVERSARIO </div>
          </div>
        </div>
        <div class="subseccion2">
          <div class="cajaMenu" (click)="routerLink('cumpleaneros')">
            <div><img  rel="preload" [src]="this.link+'assets/img/img-seccion-hotel/cumpleaños.png'"></div>
            <div class="item"> CUMPLEAÑOS </div>
          </div>
          <div class="cajaMenu" (click)="irLink(linkFacebook)">
            <div><img  rel="preload" [src]="this.link+'assets/img/img-seccion-hotel/vacantes.png'"></div>
            <div class="item"> VACANTES </div>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div id="seccion4-notice">
      <h5 >NOTICIAS</h5>
      <article>¡No te pierdas las novedades de lo que sucede en el hotel!</article>
        <!-- Esto es para las diferentes cabeceras posibles de noticias -->
        <ng-container *ngIf="noticias.length > 0; else elseTemplate">
          <ng-container *ngIf="noticias.length == 4">
            <div id="container-notice2" >

                <div id="opciones-not">
                  <div class="tab t1">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
                </div>
                <hr>
              <div class="lista-noticias" *ngFor="let i of noticias; let x=index">
                <mat-card [style.margin-left]="(x<cortar.length && x>0?'55px':'0px')" class="noticia">
                 <div class="container-matCard">
                  <div class="img-card">
                    <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                      <img  rel="preload"
                      [lazyLoad]=" (recursoUrlStr( imageObject == undefined?  i.imgVideo : i.imgVideo,1,1,false) | async)!.toString()"
                      [src]="link+'assets/img/pruebas/loading-noticia.gif'"
                      class="d-block w-100"
                      loading="lazy" />
                    </ng-container>
                    <ng-template  #elseTemplate>
                        <video height="100%" width="100%" loop  controls  >
                          <source [src]="recursoUrl(i.imgVideo,2,1,false)">
                        </video>
                    </ng-template>
                  </div>
                  <mat-card-content>
                    <span class="fecha">{{dateNormal(i.fechaInicial)}}</span>
                    <h3 class="tituloNoticia">{{i.titulo}}</h3>
                      <div class="texto">
                        {{i.descripcion!}}
                        <br>
                        <br>
                         <span (click)="irLink(i.link)" class="leerMas">Leer mas... </span>
                      </div>
                  </mat-card-content>
                  </div>
                  </mat-card>
            </div>
          </div>
          </ng-container>
          <ng-container *ngIf="noticias.length < 4">

            <div id="container-notice" >
              <div id="container-not2" *ngIf="noticias.length < 4 && noticias.length > 0">
                <div id="opciones-not">
                  <div class="tab t1">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
                </div>
                <hr>
              </div>
              <div class="lista-noticias" *ngFor="let i of noticias; let x=index">
                <mat-card [style.margin-left]="(x<cortar.length && x>0?'55px':'0px')" class="noticia">

                  <div class="container-matCard">
                  <div class="img-card">
                    <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                      <img  rel="preload"
                      [lazyLoad]=" (recursoUrlStr( imageObject == undefined?  i.imgVideo : i.imgVideo,1,1,false) | async)!.toString()"
                      [src]="link+'assets/img/pruebas/loading-noticia.gif'"
                      class="d-block w-100"
                      loading="lazy" />
                    </ng-container>
                    <ng-template  #elseTemplate>
                        <video height="100%" width="100%" loop  controls  >
                          <source [src]="recursoUrl(i.imgVideo,2,1,false)">
                        </video>
                    </ng-template>
                  </div>
                  <mat-card-content>
                    <span class="fecha">{{dateNormal(i.fechaInicial)}}</span>
                    <h3 class="tituloNoticia">{{i.titulo}}</h3>
                      <div class="texto">
                        {{i.descripcion!}}
                        <br>
                        <br>
                        <span (click)="irLink(i.link)" class="leerMas">Leer mas... </span>
                      </div>
                  </mat-card-content>
                  </div>
                  </mat-card>
            </div>
          </div>
          </ng-container>
          </ng-container>
          <ng-template #elseTemplate>
            <div id="container-notice" >
            <div >
              <div id="opciones-not">
                <div class="tab t1">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
              </div>
              <hr>
            </div>
              <div class="lista-noticias">
                <span>No Hay noticias</span>
              </div>
            </div>
          </ng-template>
      </div>
      <div class="container-beneficios" *ngIf="paramUrl != 'palmira'">
        <div id="beneficios">
          <span><label id="conoce">CONOCE</label> TUS BENEFICIOS</span>
            <div (click)="enviarPagina(linkBasePlanta)" class="cBfcios">
              <div class="muestra" >
                <img  rel="preload" [src]="this.link+'assets/img/beneficios/base-planta.png'" alt="img-planta" >
              </div>
            </div>
            <div (click)="enviarPagina(linkNuevoIngreso)" class="cBfcios" >
              <div  class="muestra">
                  <img  rel="preload" [src]="this.link+'assets/img/beneficios/nuevo-ingreso.png'" alt="img-ingreso">
              </div>
            </div>
            <ng-container *ngIf="paramUrl != 'palmira';">
              <div class="cBfcios" (click)="routerLink('empleado-mes')">
                <div  class="muestra">
                  <img  rel="preload" [src]="this.link+'assets/img/beneficios/empleado-mes.svg'" alt="img-mes">
                </div>
              </div>
            </ng-container>
            <div (click)="routerLink('araiza-diamante')" class="cBfcios">
              <div class="muestra">
                <img  rel="preload" [src]="this.link+'assets/img/beneficios/araiza-diamante.svg'" alt="img-diamante">
              </div>
            </div>
        </div>
      </div>

       <div class="container-beneficios2" *ngIf="paramUrl == 'palmira'">
        <div id="beneficios">
          <span><label id="conoce">CONOCE</label> TUS BENEFICIOS</span>
            <div (click)="enviarPagina(linkBasePlanta)" class="cBfcios">
              <div class="muestra" >
                <img  rel="preload" [src]="this.link+'assets/img/beneficios/base-planta.png'" alt="img-planta" >
              </div>
            </div>
            <div (click)="enviarPagina(linkNuevoIngreso)" class="cBfcios" >
              <div  class="muestra">
                  <img  rel="preload" [src]="this.link+'assets/img/beneficios/nuevo-ingreso.png'" alt="img-ingreso">
              </div>
            </div>
            <ng-container *ngIf="paramUrl != 'palmira';">
              <div class="cBfcios" (click)="routerLink('empleado-mes')">
                <div  class="muestra">
                  <img  rel="preload" [src]="this.link+'assets/img/beneficios/empleado-mes.svg'" alt="img-mes">
                </div>
              </div>
            </ng-container>
            <div (click)="routerLink('araiza-diamante')" class="cBfcios">
              <div class="muestra">
                <img  rel="preload" [src]="this.link+'assets/img/beneficios/araiza-diamante.svg'" alt="img-diamante">
              </div>
            </div>
        </div>
      </div>

        <div class="container-autoc">
          <div id="cuerpo-bt">
            <h4>AUTOCAPACITACIONES</h4>
            <div class="textoAutocapac">
              Las <b>autocapacitaciones</b> son cursos que están divididos por niveles en los que podrás encontrar videos,
              infografías y exámenes. Una vez que los apruebes con un <b>mínimo de 80</b>, guarda tu constancia de finalización.
              Ya que la deberás entregar al departamento de <b>Recursos Humanos</b> para recibir los vales de despensa correspondientes.
              Te presentamos todos los cursos disponibles:
            </div>

            <div id="boxContainerBtnCapacitacion" *ngIf="$autoCapacObs  |  async as res  ">
              <ng-container *ngIf="res.container != undefined && res.container.length >0 ; else elseTemplate">
                <ng-container *ngFor="let i of res.container">
                  <div class="boxbtnCapacitacion">
                    <div class="btnCapacitacion" (click)="enviarPagina(i.link)">
                      <img  rel="preload" [src]="api+'/imgVideo/galeria-autocapacitaciones/'+i.img"  class="imgCapacitacion" [alt]="i.img">
                    </div>
                    <div class="textoAutocapacName">{{i.nombre}}</div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #elseTemplate>

                <div id="msj-autocapac">No hay cursos de autocapacitacion, regrese pronto.</div>
              </ng-template>
            </div>
            <!-- <img  rel="preload" [src]="this.link+'assets/img/img-seccion-hotel/morra-like.png'" id="mujer-like" alt="img-like"> -->
          </div>
      </div>
    <app-footer></app-footer>
</div>
