
<div class="container-mult">
    <br>
    <h4>Galeria Multimedia</h4>
    <mat-tab-group>
      <mat-tab label="Sliders">
        <div class="preloader" style="position: relative; left:45%; margin-top:5%; margin-bottom: 5%;" [hidden]="cargando2"></div>
        <div class="existe" [hidden]="hayElementos2()"> <h3 class="arrayVacio">No hay sliders... </h3></div>

        <div *ngIf="arrayVidImgGeneralS.length > 0">
          <h3>Slider - General</h3>
          <div class="seccion">
              <div *ngFor="let i of arrayVidImgGeneralS">
              <div class="limite">
                  <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                    <img  rel="preload"  [lazyLoad]=" (recursoUrlStr(i.imgVideo,true,false) | async)!.toString()"
                    src="../../../../assets/img/pruebas/loading-noticia.gif" loading="lazy"
                    [alt]="i.imgVideo">
                  </ng-container>
                  <ng-template #elseTemplate>
                    <video [currentTime]="1"  controls  >
                      <source [src]="(recursoUrlStr(i.imgVideo,true,true) | async)!.toString()" >
                    </video>
                  </ng-template>
                  <div class="fecha"> {{i.fechaInicial}} - {{i.fechaFinal}} </div>
                  <button mat-stroked-button [style.color]="'green'" class="modify" (click)="modificar(i,false,arrPosicionGeneralS)">Modificar</button><button mat-stroked-button [style.color]="'red'" class="delete" (click)="eliminar(i.idImgVideo,false,i)">Eliminar</button>
              </div >
          </div>
      </div>
      </div>
      <div *ngIf="arrayVidImgMexicaliS.length > 0">
          <h3>Slider - Mexicali</h3>
          <div class="seccion">
          <div *ngFor="let i of arrayVidImgMexicaliS">
              <div class="limite">
                <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                  <img  rel="preload"
                  [lazyLoad]=" (recursoUrlStr(i.imgVideo,true,false) | async)!.toString()"
                  src="../../../../assets/img/pruebas/loading-noticia.gif" loading="lazy"  [alt]="i.imgVideo">
                </ng-container>
                <ng-template #elseTemplate>
                  <video [currentTime]="1" controls >
                    <source [src]="(recursoUrlStr(i.imgVideo,true,true) | async)!.toString()" >
                    No se puede reproducir en este navegador
                   </video>
                </ng-template>
                <div class="fecha"> {{i.fechaInicial}} - {{i.fechaFinal}} </div>
                  <button mat-stroked-button [style.color]="'green'" class="modify" (click)="modificar(i,false,arrPosicionMexicaliS)">Modificar</button><button mat-stroked-button [style.color]="'red'" class="delete" (click)="eliminar(i.idImgVideo,false,i)">Eliminar</button>
              </div >
          </div>
          </div>
      </div>
      <div *ngIf="arrayVidImgCalafiaS.length > 0">
          <h3>Slider - Calafia</h3>
          <div class="seccion">
          <div *ngFor="let i of arrayVidImgCalafiaS">
              <div class="limite">
                <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                  <img  rel="preload"
                  [lazyLoad]=" (recursoUrlStr(i.imgVideo,true,false) | async)!.toString()"
                  src="../../../../assets/img/pruebas/loading-noticia.gif" loading="lazy"  [alt]="i.imgVideo">
                </ng-container>
                <ng-template #elseTemplate>
                  <video [currentTime]="1"  controls>
                    <source [src]="(recursoUrlStr(i.imgVideo,true,true) | async)!.toString()" >
                  </video>
                </ng-template>
                <div class="fecha"> {{i.fechaInicial}} - {{i.fechaFinal}} </div>
                  <button mat-stroked-button [style.color]="'green'" class="modify" (click)="modificar(i,false,arrPosicionCalafiaS)">Modificar</button><button mat-stroked-button [style.color]="'red'" class="delete" (click)="eliminar(i.idImgVideo,false,i)">Eliminar</button>
              </div >
          </div>
          </div>
      </div>
      <div *ngIf="arrayVidImgsanLuisS.length > 0">
          <h3>Slider - San Luis</h3>
          <div class="seccion">
          <div *ngFor="let i of arrayVidImgsanLuisS">
              <div class="limite">
                <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                  <img  rel="preload"
                  [lazyLoad]=" (recursoUrlStr(i.imgVideo,true,false) | async)!.toString()"
                    src="../../../../assets/img/pruebas/loading-noticia.gif" loading="lazy"  [alt]="i.imgVideo">
                </ng-container>
                <ng-template #elseTemplate>
                  <video [currentTime]="1"  controls  >
                    <source [src]="(recursoUrlStr(i.imgVideo,true,true) | async)!.toString()" >
                  </video>
                </ng-template>
                <div class="fecha"> {{i.fechaInicial}} - {{i.fechaFinal}} </div>
                  <button mat-stroked-button [style.color]="'green'" class="modify" (click)="modificar(i,false,arrPosicionsanLuisS)">Modificar</button><button mat-stroked-button [style.color]="'red'" class="delete" (click)="eliminar(i.idImgVideo,false,i)">Eliminar</button>
              </div >
          </div>
          </div>

      </div>
      <div *ngIf="arrayVidImgPalmiraS.length > 0">
          <h3>Slider - Palmira</h3>
          <div class="seccion">
              <div *ngFor="let i of arrayVidImgPalmiraS">
              <div class="limite">
                <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                  <img  rel="preload"
                  [lazyLoad]=" (recursoUrlStr(i.imgVideo,true,false) | async)!.toString()"
                    src="../../../../assets/img/pruebas/loading-noticia.gif"  loading="lazy"  [alt]="i.imgVideo">
                </ng-container>
                <ng-template #elseTemplate>
                  <video [currentTime]="1"  controls  >
                    <source [src]="(recursoUrlStr(i.imgVideo,true,true) | async)!.toString()" >
                  </video>
                </ng-template>
                  <div class="fecha"> {{i.fechaInicial}} - {{i.fechaFinal}} </div>
                  <button mat-stroked-button [style.color]="'green'" class="modify" (click)="modificar(i,false,arrPosicionPalmiraS)">Modificar</button><button mat-stroked-button [style.color]="'red'" class="delete" (click)="eliminar(i.idImgVideo,false,i)">Eliminar</button>
              </div >
          </div>
      </div>
      </div>

      <div *ngIf="arrayVidImgHermosilloS.length > 0">
          <h3>Slider - Hermosillo</h3>
          <div class="seccion">
              <div *ngFor="let i of arrayVidImgHermosilloS">
                  <div class="limite">
                    <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                      <img  rel="preload"
                      [lazyLoad]=" (recursoUrlStr(i.imgVideo,true,false) | async)!.toString()"
                      src="../../../../assets/img/pruebas/loading-noticia.gif" loading="lazy"  [alt]="i.imgVideo">
                    </ng-container>
                    <ng-template #elseTemplate>
                      <video [currentTime]="1"  controls  >
                        <source [src]="(recursoUrlStr(i.imgVideo,true,true) | async)!.toString()" >
                        >
                      </video>
                    </ng-template>
                    <div class="fecha"> {{i.fechaInicial}} - {{i.fechaFinal}} </div>
                      <button mat-stroked-button [style.color]="'green'" class="modify" (click)="modificar(i,false,arrPosicionHermosilloS)">Modificar</button><button mat-stroked-button [style.color]="'red'" class="delete" (click)="eliminar(i.idImgVideo,false,i)">Eliminar</button>
                  </div >
              </div>
          </div>
      </div>
      </mat-tab>

      <mat-tab label="Noticias Activas">
        <ng-template matTabContent>
          <app-todo-noticias [tipoNoticias]="-1"></app-todo-noticias>
        </ng-template>
      </mat-tab>
      <mat-tab label="Noticias Desactivadas">
        <ng-template matTabContent>
          <app-todo-noticias [tipoNoticias]="-2"></app-todo-noticias>
        </ng-template>
      </mat-tab>
      <mat-tab label="Video">
        <ng-template matTabContent>
          <app-video-img-araiza-apr></app-video-img-araiza-apr>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
