
<div class="container-p">
  <ngb-carousel *ngIf="imageObject == undefined? imageObjectRemplazo : imageObject">
    <ng-template ngbSlide *ngFor="let slide of imageObject == undefined? imageObjectRemplazo : imageObject">
      <ng-container *ngIf="slide.formato === 'image'; else elseTemplate">
        <img  rel="preload"
        [src]="link+'assets/img/pruebas/loading-banner.png'"
        [lazyLoad]="(recursoUrlStr( slide.src, 1, 1,true) | async)!.toString()"
        class="img-carousel"  [style.cursor]="slide.link==='' || slide.link=== null?'auto':'pointer'" (click)="enviarPagina(slide.link!)"
        />
      </ng-container>
      <ng-template  #elseTemplate>
        <div style="background-color: rgb(184, 184, 184);">
          <video loop muted autoplay oncanplay="this.play()"
          onloadedmetadata="this.muted = true"  class="img-carousel"  >
            <source [src]="recursoUrl(slide.src, 2,imageObject == undefined? 0: 1,true)" >
          </video>
        </div>
      </ng-template>
    </ng-template>
  </ngb-carousel>


    <div class="pag-inicio-container-article">
        <div class="pag-inicio-article">
          <h2 id="pag-inicio-bienvenido">¡BIENVENIDO A <span>GRUPO ARAIZA!</span></h2>
            <article >
                Estamos muy contentos de que formes parte del equipo, te presentamos el portal de comunicación de Araiza Hoteles,
                un espacio dedicado para ti y una herramienta valiosa con la que podrás mantenerte informado.
                ¡No te pierdas las próximas actualizaciones!
            </article>
        </div>
    </div>
    <div id="pag-inicio-section_3">
        <div>
          <img  rel="preload" id="imgHidden" [src]="this.link+'assets/img/img-general/estudiante1.png'" alt="imagen estudiante">
        </div>
        <div id="pag-inicio-section_3texto" class="pag-inicio-article3">
          <h2>ARAIZA APRENDE</h2>
          <div>
            <img  rel="preload" id="imgHidden2" [src]="this.link+'assets/img/img-general/estudiante1.png'" alt="imagen estudiante">
          </div>
          <article >
          ¿Te interesa crecer de manera profesional? No te pierdas los tutoriales que Hotel Araiza ha preparado para ti con enfoque a distintas áreas.
          </article>
          <br><button id="botonTuto" mat-raised-button color="primary" (click)="routerLink('araiza-aprende')">Comenzar</button>
        </div>
      </div>
      <div class="pag-inicio-article2" id="seccion4-notice">
        <h2 >NOTICIAS</h2>
      <article>¡No te pierdas las novedades de lo que sucede en el hotel!</article>
        <!-- Esto es para las diferentes cabeceras posibles de noticias -->
        <ng-container *ngIf="noticias.length > 0; else elseTemplate">
          <ng-container *ngIf="noticias.length == 4">
            <div id="container-notice2" >

                <div id="opciones-not">
                  <div class="tab t1" alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
                </div>
                <hr>
              <div class="lista-noticias" *ngFor="let i of noticias; let x=index">
                <mat-card [style.margin-left]="(x<cortar.length && x>0?'55px':'0px')" class="noticia">
                 <div class="container-matCard">
                  <div class="img-card">
                    <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                      <img  rel="preload"
                      [lazyLoad]=" (recursoUrlStr( imageObject == undefined?  i.imgVideo : i.imgVideo,1,1,false) | async)!.toString()"
                      [src]="link+'assets/img/pruebas/loading-noticia.gif'"
                      class="d-block w-100"
                      loading="lazy" />
                    </ng-container>
                    <ng-template  #elseTemplate>
                        <video height="100%" width="100%" loop  controls  >
                          <source [src]="recursoUrl(i.imgVideo,2,1,false)">
                        </video>
                    </ng-template>
                  </div>
                  <mat-card-content>
                    <span class="fecha">{{dateNormal(i.fechaInicial)}}</span>
                    <h3 class="tituloNoticia">{{i.titulo}}</h3>
                      <div class="texto">
                        {{i.descripcion!}}
                        <br>
                        <br>
                         <span (click)="irLink(i.link)" class="leerMas">Leer mas... </span>
                      </div>
                  </mat-card-content>
                  </div>
                  </mat-card>
            </div>
          </div>
          </ng-container>
          <ng-container *ngIf="noticias.length < 4">

            <div id="container-notice" >

              <div id="container-not2" *ngIf="noticias.length < 4 && noticias.length > 0">
                <div id="opciones-not">
                  <div class="tab t1" alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
                </div>
                <hr>
              </div>
              <div class="lista-noticias" *ngFor="let i of noticias; let x=index">
                <mat-card [style.margin-left]="(x<cortar.length && x>0?'55px':'0px')" class="noticia">

                  <div class="container-matCard">
                  <div class="img-card">
                    <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                      <img  rel="preload"
                      [lazyLoad]=" (recursoUrlStr( imageObject == undefined?  i.imgVideo : i.imgVideo,1,1,false) | async)!.toString()"
                      [src]="link+'assets/img/pruebas/loading-noticia.gif'"
                      class="d-block w-100"
                      loading="lazy" />
                    </ng-container>
                    <ng-template  #elseTemplate>
                        <video height="100%" width="100%" loop  controls  >
                          <source [src]="recursoUrl(i.imgVideo,2,1,false)">
                        </video>
                    </ng-template>
                  </div>
                  <mat-card-content>
                    <span class="fecha">{{dateNormal(i.fechaInicial)}}</span>
                    <h3 class="tituloNoticia">{{i.titulo}}</h3>
                      <div class="texto">
                        {{i.descripcion!}}
                        <br>
                        <br>
                        <span (click)="irLink(i.link)" class="leerMas">Leer mas... </span>
                      </div>
                  </mat-card-content>
                  </div>
                  </mat-card>
            </div>
          </div>
          </ng-container>
          </ng-container>
          <ng-template #elseTemplate>
            <div id="container-notice" >
            <div >
              <div id="opciones-not">
                <div class="tab t1" alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
              </div>
              <hr>
            </div>
              <div class="lista-noticias">
                <span>No Hay noticias</span>
              </div>
            </div>
          </ng-template>
        </div>
    </div>


    <app-footer></app-footer>
