
<div class="container-p">
  <ngb-carousel *ngIf="imageObject.length == 0? imageObjectRemplazo : imageObject">
    <ng-template ngbSlide *ngFor="let slide of imageObject.length == 0? imageObjectRemplazo : imageObject">
      <ng-container *ngIf="slide.formato === 'image'; else elseTemplate">
        <img width="100%" [style.cursor]="slide.link==='' || slide.link=== null?'auto':'pointer'" (click)="enviarPagina(slide.link!)"
        [src]=" recursoUrl( imageObject.length == 0?  slide.src : slide.src, 1,imageObject.length,true)"/>
      </ng-container>
      <ng-template  #elseTemplate>
        <div style="background-color: rgb(184, 184, 184);">
          <video loop muted autoplay oncanplay="this.play()"
          onloadedmetadata="this.muted = true"  width="100%"  >
            <source [src]="recursoUrl(slide.src, 2,imageObject.length,true)" >
          </video>
        </div>
      </ng-template>
    </ng-template>
  </ngb-carousel>

    <div class="container-article">
        <div class="article">
          <h2>¡BIENVENIDO A <span>GRUPO ARAIZA!</span></h2>
            <article>
                Estamos muy contentos de que formes parte del equipo, te presentamos el portal de comunicación de Araiza Hoteles,
                un espacio dedicado para ti y una herramienta valiosa con la que podrás mantenerte informado.
                ¡No te pierdas las próximas actualizaciones!
            </article>
        </div>
    </div>
    <div id="section_3">
        <div>
          <img id="imgHidden" [src]="this.link+'assets/img/img-general/estudiante1.png'" alt="imagen estudiante">
        </div>
        <div id="section_3texto">
          <h2>ARAIZA APRENDE</h2>
          <div>
            <img id="imgHidden2" [src]="this.link+'assets/img/img-general/estudiante1.png'" alt="imagen estudiante">
          </div>
          <article>
          ¿Te interesa crecer de manera profesional? No te piedas los tutoriales que Hotel Araiza ha preparado para ti con enfoque a distantas áreas.
          </article>
          <br><button id="botonTuto" mat-raised-button disabled="true" color="primary">Próximamente</button>
        </div>
      </div>
      <div id="seccion4-notice">
        <h2 >NOTICIAS</h2>
        <article>¡No te pierdas las novedades de lo que sucede en el hotel!</article>
          <!-- Esto es para las diferentes cabeceras posibles de noticias -->
          <div id="container-not2" *ngIf="noticias.length < 4 && noticias.length > 0">

            <div id="opciones-not">
              <div class="tab t1" alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
            </div>
            <hr>
          </div>

          <div id="container-notice" >
              <div id="container-not1" *ngIf="noticias.length == 4" >
                <div id="opciones-not">
                  <div class="tab t1" alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
                </div>
                <hr>
              </div>
            <ng-container *ngIf="noticias.length > 0; else elseTemplate">
              <div class="lista-noticias" *ngFor="let i of noticias; let x=index">
                <mat-card [style.margin-left]="(x<cortar.length && x>0?'55px':'0px')" class="noticia">
                  <mat-card-header>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                  </mat-card-header>
                  <div class="container-matCard">
                  <div class="img-card">
                    <!-- <img mat-card-image [src]="recursoUrl('http://localhost/portalComunicacion/API/imgVideo/galeria-noticia/fotos/'+i.imgVideo)" [alt]="i.imgVideo">-->
                    <ng-container *ngIf="i.formato === 'image'; else elseTemplate">
                      <img
                      [src]=" recursoUrl( imageObject.length == 0?  i.imgVideo : i.imgVideo,1,1,false)"
                      class="d-block w-100"
                      loading="lazy" />
                    </ng-container>
                    <ng-template  #elseTemplate>
                        <video height="100%" width="100%" loop  controls  >
                          <source [src]="recursoUrl(i.imgVideo,2,1,false)">
                        </video>
                    </ng-template>
                  </div>
                  <mat-card-content>
                    <span class="fecha">{{dateNormal(i.fechaInicial)}}</span>
                    <h3>{{i.titulo}}</h3>
                      <div class="texto">
                        {{i.descripcion!}}
                        <!-- {{cortarTexto(i.descripcion!.toString(), cortar[x], x)}} -->
                        <br>
                        <br>
                        <!-- <span [hidden]="cortar[x]" *ngIf="i.descripcion!.toString().length > 80"  (click)="cortarTexto(i.descripcion!.toString(),true,x)" class="leerMas">Leer mas... </span>
                        <span [hidden]="!cortar[x]" (click)="cortarTexto(i.descripcion!.toString(),false,x)" class="leerMas">Leer menos... </span> -->
                        <span (click)="irLink(i.link)" class="leerMas">Leer mas... </span>
                      </div>
                  </mat-card-content>
                  </div>
                  </mat-card>
            </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div >
                <div id="opciones-not">
                  <div class="tab t1" alt="">NUEVAS</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="tab t2" (click)="routerLink('historial-noticias')">TODOS</div>
                </div>
                <hr>
              </div>
                <div class="lista-noticias" *ngFor="let item of cortar;  let x=index">

                  <mat-card [style.margin-left]="(x<cortar.length && x>0?'55px':'0px')" class='noticia'>
                    <mat-card-header>
                     <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                    </mat-card-header>
                    <div class="container-matCard">
                    <div class="img-card">
                      <img mat-card-image [src]="this.link+'assets/img/pruebas/image.png'" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-content>
                      <span class="fecha">oct 4. 2020</span>
                      <h3>Mes del cancer de mama</h3>
                      <div>
                        Este mes de octubre Hotel Araiza se une a la lucha contra el cáncer de mama, no olvides portar tu listón rosa durante todo el mes.
                        <br>
                        <br>
                        <span class="leerMas">Leer mas... </span>
                      </div>
                    </mat-card-content>
                    </div>
                   </mat-card>
                </div>
            </ng-template>
          </div>
        </div>
    </div>


    <app-footer></app-footer>
