.textarea {
  width: 100%;
}

.sugerencia{
  width: 100%;
}

button{
  font-family: 'gotham-bold';
}

mat-form-field {
  font-family: 'gotham-book';
}

h2 {
  font-family: 'gotham-bold';
  text-align: center;
}

p {
  font-family: 'gotham-book';
}

@media (max-width: 336px) {
  h2 {
    line-height: 1.2;
  }
}


@media (max-width: 500px) {
  p {
    font-size: smaller;
  }
}
