#container-ara-apr {
  min-height: 100%;
}

#cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: auto;
  height: 12vw;
  cursor:pointer;
  object-fit: contain;
  box-shadow: 2px 2px 10px 2px hsl(0, 0%, 82%);
  margin-bottom: 3%;
}

img:hover {
  scale: 1.05;
}

.slide {
  margin-right: 70px; /* Agrega un margen derecho de 10px entre las imágenes */
}
.slide {
  padding: 0%;
  text-align: start;
  font-family: 'gotham-book';
  line-height: normal;
}

.slide span {
  font-size: 12px;
  width: max-content;
}


#titulo2 {
  font-family: 'gotham-bold';

}

#titulo1 {
  font-family: 'gotham-bold';
}

h2 {
  font-family: 'gotham-bold';
  text-align: start;
}


.nohaydatos {
  font-family: 'gotham-bold';
  width: 100%;
  text-align: center;
}



@media(max-width:700px){
  #cabecera {
    display: contents;
    justify-content: center;
    align-items: center;
  }
  #buscarCat {
    margin-top: 20px;
  }
  .slide span {
    font-size: 11px;
    width: max-content;
  }
}

@media(max-width:1043px){
  img {
    width: auto;
    height: 20vw;
  }
}



@media(max-width:620px){


}

@media(max-width:460px){
  img {
    width: auto;
    height: 30vw;
  }

}

@media(max-width:740px){
  h1 {
    font-size: 18px;
    line-height: normal;
  }

  h2 {
    font-size: 15px;
    line-height: normal;
  }

  .slide {
    font-size: 12px;
    width: 200px;
    white-space:break-spaces;
  }

  img {
    width: auto;
    height: 130px;
  }
}


/*select*/

mat-select {
  background-image:url('../../../assets/img/icon/flecha.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  transform: translateY(-20%);
  font-family: 'gotham-book';

}

::ng-deep .mat-select-arrow {
  display: none;
}

::ng-deep .mat-form-field-infix {
  font-family: 'gotham-book';
}

mat-option {
  font-family: 'gotham-book';
}

mat-form-field {
  width: 200px;
}
