<div id="container-ara-apr" style="margin: 5% 10% 0 10%;">
  <!-- Cabecera -->
  <div id="cabecera">
    <h4> <span id="titulo1"> Araiza Aprende </span><span id="titulo2" class="color_primario">| {{titulop2}}</span> </h4>

    <mat-form-field appearance="outline" id="buscarCat">
      <mat-label>Categoría</mat-label>
      <mat-select [value]="'1'" (selectionChange)="onSelected($event)">
        <mat-option *ngFor="let i of categorias" [value]="i.idCatArApr.toString()">{{i.categoria}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Línea separadora -->
  <hr style="margin-top: 10px;">

  <!-- Contenido con temas dinámicos -->
  <div style="margin-top: 20px;">

    <ng-container  *ngIf="nomTemas.length > 0; else elseTemplate">
      <div *ngFor="let titulo of nomTemas; let idx = index" class="sliderAraizaAprende">
        <h4>{{titulo}}</h4>
        <ngx-slick-carousel  #slickModal="slick-carousel"  [config]="carouselConfig">
          <div ngxSlickItem *ngFor="let t of arrTemas[idx]; let idx = index">
            <div class="slide">
              <img  rel="preload"
              [src]="'https://www.comunicadosaraiza.com/portal_api/API/imgVideo/galeria-video-araiza-aprende/fotos/'+t.img"
              (click)="ir(t)" [alt]="idx+'image'">
              <span>{{t.nombre}}</span>
            </div>
          </div>
        </ngx-slick-carousel>
        <br><br>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="nohaydatos">No hay videos registrados</div>
    </ng-template>
  </div>
</div>
<app-footer></app-footer>
